@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gx9vam');
  src:  url('fonts/icomoon.eot?gx9vam#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gx9vam') format('truetype'),
    url('fonts/icomoon.woff?gx9vam') format('woff'),
    url('fonts/icomoon.svg?gx9vam#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svg:before {
  content: "\e902";
}
.icon-svg_360:before {
  content: "\e903";
}
.icon-svg_abajo:before {
  content: "\e904";
}
.icon-svg_blog:before {
  content: "\e905";
}
.icon-svg_cerrar:before {
  content: "\e906";
}
.icon-svg_check-box-lineal:before {
  content: "\e907";
}
.icon-svg_check-box:before {
  content: "\e908";
}
.icon-svg_comentario:before {
  content: "\e909";
}
.icon-svg_compartir:before {
  content: "\e90a";
}
.icon-svg_corazon:before {
  content: "\e90b";
}
.icon-svg_cotiza:before {
  content: "\e90c";
}
.icon-svg_derecha:before {
  content: "\e90d";
}
.icon-svg_dormitorio:before {
  content: "\e90e";
}
.icon-svg_facebook:before {
  content: "\e90f";
}
.icon-svg_flecha:before {
  content: "\e910";
}
.icon-svg_google:before {
  content: "\e911";
}
.icon-svg_izquierda:before {
  content: "\e912";
}
.icon-svg_like:before {
  content: "\e913";
}
.icon-svg_linkedin:before {
  content: "\e914";
}
.icon-svg_menu:before {
  content: "\e915";
}
.icon-svg_metraje:before {
  content: "\e916";
}
.icon-svg_pdf:before {
  content: "\e917";
}
.icon-svg_pinterest:before {
  content: "\e918";
}
.icon-svg_play:before {
  content: "\e919";
}
.icon-svg_radius-border:before {
  content: "\e91a";
  color: #4d4d4f;
}
.icon-svg_radius:before {
  content: "\e91b";
}
.icon-svg_ubicacion:before {
  content: "\e91c";
}
.icon-svg_youtube:before {
  content: "\e91d";
}
.icon-flecha-right:before {
  content: "\e901";
}
.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
}
.icon-youtube:before {
  content: "\e601";
}
