.footer
	width: 100%
	background-color: $blanco
	height: auto
	border-top: 1px solid #E6E6E6
	a
		outline: none
	// height: 595px
.footer_content
	max-width: 1191px
	width: 100%
	height: auto
	margin: 0 auto
	padding-top: 54px
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
.footer_b1
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: flex-start
	font-size: 14px
	padding-bottom: 43px
	box-sizing: border-box
.footer_b1_box1
	max-width: 270px
	width: 100%
	height: auto
	h3
		font-family: $t-1
		color: $c-5
		font-size: 14px
	p
		font-family: $t-0
		color: $c-0
		font-size: 14px
.footer_b1_social
	padding-bottom: 30px
	ul
		li
			margin-right: 3%
			display: inline-block
			font-size: 23px
			a
				color: $c-2
				transition: all .3s ease-in-out
			@media screen and (min-width: 1025px)	
				&:hover
					a
						color: $c-1
.footer_b1_miembros
	ul
		li:nth-child(1)
			font-family: $t-1
			color: $c-5
	ul
		li
			display: inline-block
			vertical-align: middle
			margin-right: 6px
.footer_b1_box2
	max-width: 211px
	width: 100%
	height: auto
	margin-left: 39px
.footer_b1_box3
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
	max-width: 270px
	width: 100%
	height: auto
.footer_b1_box2, .footer_b1_box3, .footer_b1_box4
	h3
		font-family: $t-2
		color: $c-5
	ul
		li:nth-child(n+2)
			margin-top: 14px
		li
			font-family: $t-0
			color: $c-0
			a
				color: $c-0
				transition: all .3s ease-in-out
			@media screen and (min-width: 1025px)	
				&:hover
					a
						color: $c-5
.footer_b1_box4
	max-width: 270px
	width: 100%
	height: auto
	ul
		li
			font-family: $t-1
			color: $c-5
			strong
				color: $c-5
				font-family: $t-3
				font-weight: bold
	a
		display: block
		margin-top: 5px
		color: $c-0
	strong
		display: block
		margin-top: 5px
.footer_b1_logo
	max-width: 202px
	width: 100%
	height: auto
.footer_b1_logo2
	max-width: 41px
	width: 100%
	height: auto
.footer_b1_logo3
	max-width: 106px
	width: 100%
	height: auto
.footer_b1_box1_ul
	margin-top: 29px
.footer_b1_address
	padding-bottom: 20px
.footer_b2
	background-color: #f0f0f0
	padding: 22px 68px
	box-sizing: border-box
	font-family: $t-0
	font-size: 13px
	color: $c-0
	text-align: center
	p
		margin: 0
.footer__icon__heart
	color: #F27490
	font-size: 11px
	margin: 0 5px
	animation: animate-heart 2s infinite
	display: block

@keyframes animate-heart
	0%
		transform: scale(1)
	5%
		transform: scale(1.2)
	10%
		transform: scale(1.1)
	15%
		transform: scale(1.3)
	50%
		transform: scale(1)
	100%
		transform: scale(1)
.footer_b3
	font-family: $t-0
	font-size: 11px
	color: $c-0
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
	margin-top: 25px
	padding-top: 25px
	padding-bottom: 28px
	box-sizing: border-box
	border-top: 1px solid #f0f0f0
.footer_b3_box2
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: flex-start
	a
		margin: 0
		color: $c-0
.footer_b1_box2, .footer_b1_box3, .footer_b1_box4
	ul
		margin-top: 33px
@media screen and (max-width: 1120px)
	.footer_b1_miembros ul li:nth-child(1)
		display: block
@media screen and (max-width: 1024px)
	.footer_b1_logo, .footer_b1_miembros, .footer_b1_social, .footer_b1_box2
		display: none
	.footer_b1_box1_ul
		margin-top: 0
@media screen and (max-width: 723px)
	.footer_b1
		flex-direction: column
		text-align: center
	.footer_b1_box1, .footer_b1_box3, .footer_b1_box4
		max-width: 100%
	.footer_b1_box3
		padding-right: initial
		padding-left: initial
		padding-bottom: 40px
@media screen and (max-width: 624px)
	.footer_b3
		flex-direction: column
		padding-bottom: 11px
		text-align: center
	.footer_b2
		padding: 22px 10%

//Modal Footer
.footer__overlay__modal
	width: 100%
	height: 100%
	position: fixed
	z-index: -1
	top: 0
	left: 0
	background: $negro
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	&.active
		opacity: .5
		visibility: visible
		z-index: 200
.ctn__footer__modal
	height: 100%
	width: 100%
	padding: 15px
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	max-width: 1000px
	max-height: 620px
	z-index: -1
	opacity: 0
	transition: all .3s ease-in-out
	visibility: hidden
	box-sizing: border-box
	&.active
		opacity: 1
		visibility: visible
		z-index: 210
.ctn__footer__modal__wrapper	
	display: flex
	flex-wrap: wrap
	width: 100%
	height: 100%
.ctn__footer__modal__img
	width: 40%
	height: 100%
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.ctn__footer__modal__info
	width: 60%
	display: flex
	background: $blanco
	align-items: center
	position: relative
.ctn__footer__modal__info__close
	position: absolute
	width: 15px
	height: 15px
	top: 20px
	right: 20px
	cursor: pointer
	font-size: 15px
	color: $c-3
	z-index: 2
.ctn__footer__modal__info__wrapper
	padding: 0 20px
	max-width: 440px
	width: 100%
	margin: 0 auto
.ctn__footer__modal__info__wrapper__title
	h3
		font-weight: normal
		margin: 0
		padding: 0
		color: $c-5
		font-family: $t-3
		font-size: 30px
.ctn__footer__modal__info__wrapper__form
	margin: 30px 0 0 0
	p 
		margin: 12px 0 26px 0
		font-family: $t-0
		font-size: 12px
		color: $c-0
		span
			color: $c-1
	a
		width: 100%
		text-align: center
		div
			width: 100%
			box-sizing: border-box
	li
		margin: 0 0  12px 0
		&:last-child
			margin: 0
.form__general__wrapper
	width: 100%
	border: 1px dashed $c-3
	padding: 20px
	box-sizing: border-box
	input
		display: none
	label
		width: 100%
		text-align: center
	figure
		width: 35px
	img
		max-width: 100%
		display: block
		height: auto
	p 
		margin: 10px 0 0 0
		color: $c-0
		font-family: $t-0
		font-size: 14px
	label
		display: block
@media screen and (max-width: 960px)
	.ctn__footer__modal__img
		display: none
	.ctn__footer__modal__info
		width: 100%
@media screen and (max-width: 767px)
	.ctn__footer__modal__info__wrapper
		pading: 0 15px
	.ctn__footer__modal__info__wrapper__title h3
		font-size: 23px