header
	a
		outline: none !important
.header_content
	max-width: 1128px
	width: 100%
	height: 100%
	margin: 0 auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
	padding: 20px 20px
	box-sizing: border-box
// ***** nav detalle
.header_detalle_visible
	.header_detalle
		display: block

.header_detalle
	display: none
	background-color: $blanco
	width: 100%
	height: auto
	border-bottom: 1px solid #e6eaed
.header_detalle_content
	height: 60px
	max-width: 1128px
	width: 100%
	margin: 0 auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
	padding-right: 20px
	padding-left: 20px
	box-sizing: border-box
.header_detalle_logo
	height: 40px
	width: 107px
	margin: 0
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
.header_detalle_nav
	height: 100%
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	ul
		font-family: $t-2
		font-size: 14px
		li
			display: inline-block
			line-height: 60px
			height: 60px
			margin-right: 20px
			margin-left: 20px
			a
				color: $c-5
				display: block
				position: relative
				&:before
					border-bottom: 2px solid $c-1
					position: absolute
					content: ""
					width: 0
					bottom: 15px
					transition: all .2s ease-in-out
.header_detalle_nav
	ul
		li
			@media screen and (min-width: 1025px)
				a:hover
					&:before
						width: 40%

// ***** nav detalle
.header_box1
	width: 302px
	height: 60px
	background: $blanco
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center
.header_box1_logo
	height: 60px
	width: 242px
	border-top: 1px solid $c-4
	border-right: 1px solid $c-4
	border-bottom: 1px solid $c-4
	padding: 0 20px
	box-sizing: border-box
	a
		img
			height: 100%
.header_box1_menu
	width: 60px
	height: 60px
	background-color: $c-1
	font-size: 30px
	font-weight: bold
	a
		margin: 0
		line-height: 60px
		display: block
		width: 100%
		height: 100%
		text-align: center
		color: $negro
.header_box2
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-end
	align-items: flex-end

.header_btn:nth-child(1)
	margin-right: 20px


.btn_header
	display: inline-block
	position: relative
	overflow: hidden
	transition: all 1s
	font-family: $t-3
	font-size: 12px
	height: 50px
	width: auto
	background: red
	@media screen and (min-width: 1025px)
		&:hover
			// box-shadow: 0 0 50px rgba(0,0,0,.15)
			.btn_header_text1
				transform: translateX(0)
			.btn_header_text2
				transform: translateX(100%)
.btn_header_text
	line-height: 50px
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1)
	padding: 0 30px
	span
		display: block
	
.btn_header_text1
	position: absolute
	top: 0
	left: 0
	transform: translateX(-100%)

.btn_header_text2
	transform: translateX(0)

// ******* colores btn *******

.span_header_txt_black
	color: $negro

// btn border yellow
.btn_header_color_yellow
	background: $c-1
	@media screen and (min-width: 1025px)
		&:hover
			background: #ffd566

// btn border white
.btn_header_color_white
	background: $blanco
	border: 1px solid $c-4
	@media screen and (min-width: 1025px)
		&:hover
			background: #e6eaed

.header_proyectos_venta
	max-width: 1125px
	width: 90%
	height: auto
	background-color: $blanco
	position: fixed
	top: -100px
	z-index: 111
	margin: auto
	left: 0
	right: 0
	transition: all .2s ease-in-out
	opacity: 0
	visibility: hidden
	&.active
		top: 100px
		opacity: 1
		visibility: visible
.header_btn__absolute
	position: absolute
	right: 0
	top: 0
.header_pv_box1_item:nth-child(n+2)
	border-top: 1px solid $c-4
.header_pv_box1_item
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		margin: 0
		padding: 0
		li
			width: 24.890%
			height: auto
			display: block
			margin: 0
			a
				display: block
				height: 100%
				width: 100%
				margin: 0
		li:nth-child(n+5)
			border-top: 1px solid $c-4
		li:nth-child(2n)
			border-left: 1px solid $c-4
		li:nth-child(2n+3)
			border-left: 1px solid $c-4
		li:nth-child(5)
			border-left: initial	

.header_pv_box2
	height: 55px
	width: 100%
.header_pv_btn
	background-color: $c-1
	color: $negro
	display: block
	height: 100%
	width: 100%
	text-align: center
	line-height: 55px
	font-family: $t-1
	font-size: 14px
.header_pv_span
	position: relative
	&:before
		font-size: 16px
		margin-left: 13px
		display: inline-block
		content: "\e910"
		position: absolute
		font-family: $icomoon
.header_pv_box1_a
	padding: 36px 56px
	box-sizing: border-box
.header_pv_box1_span
	padding: 0 11px
	font-family: $t-1
	font-size: 12px
	height: 25px
	line-height: 25px
	margin: 0
	display: inline-block

.label__yellow
	background-color: $c-1
	color: $negro
.label__black
	background-color: $negro
	color: $blanco
	display: none
.header_pv_box1_img
	width: 80px
	height: 80px
	margin: 0
	margin-top: 10px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.header_pv_box1_txt
	font-family: $t-1
	font-size: 15px
	color: $c-5
	margin-top: 10px
	strong
		display: block
		font-family: $t-2
		font-weight: normal
		margin-top: 10px

.nav
	height: 100vh
	position: fixed
	left: -840px
	background-color: $c-1
	z-index: 120
	transition: all .2s ease-in-out
	width: 40%
	padding-right: 70px
	padding-top: 24px
	padding-bottom: 60px
	padding-left: 50px
	box-sizing: border-box
	background-repeat: repeat
	&.active
		left: 0
.nav_content
	position: relative
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	justify-content: space-between
	align-items: flex-end
	height: 100%
	width: auto

.nav_box2
	padding-top: 30px
	box-sizing: border-box
	font-family: $t-3
	font-size: 40px
	max-width: 241px
	width: 100%
	ul
		li:nth-child(n + 2)
			margin-top: 17%
		li
			line-height: 35px
			a
				display: block
				color: $c-5
.nav_box3
	margin-top: 17%
	ul
		float: right
		li
			display: inline-block
			margin-left: 13px
			a
				color: $negro
				font-size: 35px

.nav_box1
	max-width: 302px
	width: 100%
	height: 60px
	background: $blanco
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center

.nav_b1_logo
	height: 60px
	max-width: 242px
	width: 100%
	border-top: 1px solid $c-4
	border-right: 1px solid $c-4
	border-bottom: 1px solid $c-4
	padding: 0 20px
	box-sizing: border-box
	background-color: $blanco
	a
		img
			height: 100%

.nav_b1_close
	width: 60px
	height: 60px
	background-color: $negro
	font-size: 30px
	font-weight: bold
	a
		margin: 0
		line-height: 60px
		display: block
		width: 100%
		height: 100%
		text-align: center
		color: $blanco
.nav_b1_close
	&.active
		background-color: $c-1
		z-index: 150
		a
			color: $negro
.nav_pbg2_btn_color
	background-color: $c-1 !important
	float: right
	margin-top: 30px
	margin-right: 40px
.nav_proyectos_submenu_item
	margin-top: 0
	position: absolute
	margin-top: -33px
	right: -180px
	opacity: 0
	visibility: hidden
	transition: all .2s ease-in-out
	width: 100%
	max-width: 221px
	&.active
		opacity: 1
		visibility: visible
		right: -340px
.nav_proyectos_submenu_item>ul>li>a
	color: $blanco
	font-family: $t-3
	font-size: 30px
	margin: 0
	display: block
	position: relative
	&:before
		position: absolute
		width: 0
		bottom: -8px
		height: 3px
		background-color: $c-1
		left: 0
		content: ""
		transition: all .2s ease-in-out

@media screen and (min-width: 1025px)
	.nav_proyectos_submenu_item>ul>li>a:hover
		&:before
			width: 30%
.btn_proyectos_submenu
	position: relative
	span
		position: relative
		top: 4px
		margin-left: 20px
		font-family: $icomoon
		font-size: 30px
		color: $negro
		transition: all .2s ease-in-out
.nav_proyectos_submenu:hover
	&:before
		right: 8px
.nav_proyectos_background
	position: fixed
	height: 100vh
	width: 300px
	background-color: $negro
	background-repeat: no-repeat
	background-position: center bottom
	background-size: 100%
	top: 0
	left: 10%
	// transition: all .2s ease-in-out
	transition: all 0.8s cubic-bezier(0.68, -0.45, 0.165, 1.35)
	opacity: 0
	visibility: hidden
	z-index: 111
	&.active
		opacity: 1
		visibility: visible
		left: 40%
.nav_proyectos_background2
	display: none
.nav_overlay
	width: 100%
	height: 100%
	opacity: 0
	visibility: hidden
	background-color: $negro
	position: fixed
	top: 0
	right: 0
	z-index: 110
	transition: all 0.8s cubic-bezier(0.68, -0.45, 0.165, 1.35)
	// transition: all .1s ease-in-out
	&.active
		opacity: 0.5
		visibility: visible
body
	&.active
		overflow: hidden
// **************************** old
.div-example
	height: 2000px
	width: 100%
	background: red 

.header-wrap
	position: relative

.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	// height: 86px
	height: auto
	z-index: 110
	background: rgba(255, 255, 255, 0)
	// background-color: $blanco
	transition: all .2s linear

.header-bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	top: -100%
	transition: all .2s linear

.header-fixed.scrolling
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
	background: rgba(255, 255, 255, 1)

	.header-bg
		top: 0
	.header-link
		color: $c-2
	.header-languages-select select
		color: $c-2
	.header-languages-select:before
		color: $c-2
	.header-logo-desktop
		opacity: 0
		visibility: hidden
	.header-logo-scroll
		width: 80%
		opacity: 1
		visibility: visible

.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: flex-end
	flex-direction: row
	max-width: 1240px
	margin: auto
	padding: 0 20px 
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	max-width: 230px
	position: absolute
	top: 10px
	left: 20px
	img 
		display: block
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
	.header-logo-scroll
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear

.header-cnt-list
	display: flex
	align-items: center
	justify-content: flex-end

// header list
.header-list
	display: flex

	.header-item
		display: inline-block
		margin-right: 50px
		&:lastt-child
			margin-right: 0

	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: $blanco
		font-size: 15px
		line-height: 15px
		font-family: $t-0
		text-decoration: inherit
		position: relative
		padding-bottom: 7px
		margin-top: 7px
		transition: all .35s ease-in-out
		&:before
			content: ""
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 0
			height: 2px
			background: $c-0
			transition: all .35s ease-in-out

	//hover
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%

	//active
	.header-link.active
		color: $blanco
		text-decoration: inherit

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%
	.header-link.active
		color: $blanco
		text-decoration: inherit



//languages
.header-languages
	padding-left: 20px
	position: relative
	&:before 
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 3px
		background: $c-0

.header-languages-select
	position: relative
	display: inline-block
	cursor: pointer
	select 
		width: 80px
		border: none
		border-radius: none
		background: none 
		color: $blanco
		font-family: $t-0
		font-size: 13px
		appearance: none
		box-sizing: border-box
		cursor: pointer
	option 
		color: $c-0 
	&:before 
		display: block
		content: "\e608"
		font-family: icomoon
		position: absolute
		top: 0px
		right: 0
		color: $blanco
		font-size: 17px
		pointer-events: none

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 115
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 114

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: $c-3
		text-decoration: inherit
	.header-languages-select
		padding-left: 30px
		margin-top: 20px
	.header-languages-select select
		color: $c-0 
		font-size: 14px
		width: 90px
	.header-languages-select:before
		color: $c-0

.menu-sidebar
	.header-link.active 
		background: $c-0
		color: $blanco 


.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block

.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 112

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 110
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 110
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 115
	transform: rotate(-90deg)

body.active
	overflow: hidden


.header_solicita_novisible
	.header_solicita_btn
		display: none

.header_solicita_btn
	width: 102px
	display: block
	position: fixed
	right: 0px
	top: 30%
	overflow: hidden
	z-index: 120
	&::before
		content: "\e90c"
		position: absolute
		top: 19px
		right: 7px
		font-family: $icomoon
		font-size: 30px
		color: $negro
		font-weight: bold
.header_solicita_btn_bg
	width: 115px
	height: 93px
	background-repeat: no-repeat
	background-size: contain
	background-position: center

.header_solicita_btn_p
	font-family: $t-1
	font-size: 14px
	color: $negro
	margin-left: 14px
	margin-top: 35px
	position: absolute
	strong
		display: block
		font-weight: normal
@media screen and (max-width: 1116px)
	.nav_box3
		ul
			li
				margin-left: 7px
@media screen and (max-width: 1024px)
	.header_detalle
		display: none
	.header_detalle_visible
		.header_detalle
			display: none
	.nav_box2
		font-size: 30px
		max-width: 227px
		padding-top: 20px
	.nav_box3
		ul
			li
				margin-left: 7px
				a
					font-size: 27px
	.nav
		height: 100%
		padding: 24px 20px
		width: 50%
	
	.nav_proyectos_submenu_item
		// margin-top: -69px
		ul>li>a
			font-size: 25px
			&:before
				width: 30%
		&.active
			right: -282px
	.nav_proyectos_background.active
		left: 50%
	.header_solicita_btn
		display: none

	// **************************

	.header-cnt-list
		display: none

	.header-languages
		display: none

	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	
	.header-fixed.scrolling .header-logo
		max-width: 80px

	.header-logo
		max-width: 80px
	
	.menu-mobile-close, .menu-mobile-open
		display: block

@media screen and (max-width: 851px)

	.header_box2
		display: none

@media screen and (max-width: 767px)
	.nav_b1_logo
		height: 45px
	.nav_b1_close a
		line-height: 45px
	.nav_b1_close
		width: 45px
		height: 45px
	.nav_box1
		// max-width: 258px
		max-width: 224px
		height: 45px

	.nav_content
		align-items: flex-start
		justify-content: flex-start
	.nav_box2
		height: auto
		padding-top: 30px
		font-size: 23px
		padding-top: 20px
		ul
			li:nth-child(n + 2)
				margin-top: 15px
	.nav_box3
		margin-top: 20px
	.nav_b2_close_logo
		display: flex
		align-items: center
		justify-content: center
		height: 45px
		max-width: 242px
		width: 100%
		background-color: $blanco
		padding: 0 20px
    box-sizing: border-box
	.icon-svg_derecha
		margin-left: 16px
	.nav_box2 ul li:nth-child(n + 2)
		margin-top: 20px
	.nav_box2 ul li
		line-height: 21px
	.btn_proyectos_submenu span
		margin-left: initial
		position: relative
		top: 6px
	.nav_pbg2_btn_color
		background-color: $c-1 !important
		margin-top: 0 
		margin-right: 0
	.nav_pbg2_btn_return
		max-width: 224px
		padding-top: 24px
		display: flex
		margin-left: 20px

	.nav_proyectos_background
		z-index: 120
		width: 90%
		left: 0
		&.active
			left: 0
	.nav_proyectos_submenu_item
		left: 0
		margin-top: 0
		&.active
			right: 20px
			z-index: 130
	.nav_proyectos_submenu_item>ul>li>a
		&:before
			width: 30%
			left: initial
			// right: 0

	.nav_proyectos_background
		display: none
	.nav_proyectos_background2
		position: fixed
		display: block
		height: 100vh
		width: 80%
		background-color: $negro
		background-repeat: no-repeat
		background-position: center bottom
		background-size: 100%
		top: 0
		transition: all .2s ease-in-out
		opacity: 0
		visibility: hidden
		z-index: -5
		left: -40%
		&.active
			opacity: 1
			visibility: visible
			left: 0%
			z-index: -1

	.nav
		width: 80%
	
	.responsive-logo
		display: none
	
	.header_box1
		width: 258px
	
@media screen and (max-width: 320px)
	.nav, .nav_proyectos_background2
		width: 100%
