footer.footer
	.footer_content
		section.footer_b1
			.footer_b1_box1
				.footer_b1_logo
					a(href="home.html")
						img(src=`${STATIC_URL}img/armasdoomo-logo-footer.jpg`, width="", height="", alt="")
				.footer_b1_box1_ul
					ul
						li
							.footer_b1_address
								h3 Oficina Principal
								p Av. Canaval y Moreyra 480 Piso 21 San Isidro

						li
							.footer_b1_social
								h3 Síguenos
								ul
									li
										a(href="https://www.facebook.com" target="_blank").icon-social-facebook
									li
										a(href="https://www.youtube.com" target="_blank").icon-youtube
									li
										a(href="https://www.blogger.com/about/?r=1-null_user" target="_blank").icon-svg_blog
									li
										a(href="https://pe.linkedin.com" target="_blank").icon-svg_linkedin
									li
										a(href="https://plus.google.com/discover?hl=es" target="_blank").icon-svg_google
									li
										a(href="https://www.pinterest.es" target="_blank").icon-svg_pinterest
						li
							.footer_b1_miembros
								ul
									li Miembros de:
									li 
										.footer_b1_logo2
											img(src=`${STATIC_URL}img/footer-b1-img1.jpg`, width="", height="", alt="")
									li 
										.footer_b1_logo3
											img(src=`${STATIC_URL}img/footer-b1-img2.jpg`, width="", height="", alt="")
			.footer_b1_box2
				h3 CONOCE ARMAS DOOMO
				ul
					li
						a(href="home.html") Inicio 
					li
						a(href="nosotros.html") Beneficios
					li
						a(href="").btn__work__footer Trabaja con nosotros
			.footer_b1_box3
				h3 PROYECTOS EN VENTA
				ul
					li
						a(href="detalle-proyecto.html") Nexo - Surquillo
					li
						a(href="detalle-proyecto.html") Supra - Surco
					li
						a(href="detalle-proyecto.html") Céntrica - Miraflores
					li
						a(href="detalle-proyecto.html") Garden City - Breña
					li
						a(href="detalle-proyecto.html") Alta Vida - Ate
					li
						a(href="detalle-proyecto.html") Alto Lima - La Victoria
					li
						a(href="detalle-proyecto.html") Rio Grande - Pueblo Libre
					li
						a(href="detalle-proyecto.html") La Nueva Perla - Callao
					li
						a(href="detalle-proyecto.html") Hera - Surco
					li
						a(href="detalle-proyecto.html") Quebrada del Mar - Asia
					li
						a(href="proyectos-venta.html") Ver más
			.footer_b1_box4
				h3 CONTACTO
				ul
					li Central Telefónica:
						strong (01) 219 9900
					li Ventas:
						strong (01) 219 9900 Opción 1
					li Servicio al Cliente:
						strong (01) 219 9900 Opción 2
						a(href="mailto:atencionalcliente@armasdoomo.com.pe") atencionalcliente@armasdoomo.com.pe
					li Post Venta:
						a(href="mailto:postventa@armasdoomo.com.pe") postventa@armasdoomo.com.pe
		section.footer_b2
			p
				| Todas las imágenes, planos, medidas y áreas, son referenciales por lo que podrían sufrir cambios al momento de desarrollarse el proyecto, así mismo los elementos decorativos, acabados y mobiliario son propuestas del departamento de diseño que no se incluyen en la oferta comercial y no comprometen a la empresa inmobiliaria.
		section.footer_b3
			.footer_b3_box1
				p Armas Doomo© Copyright 2017 - Todos los derechos reservados
			.footer_b3_box2
				p Diseño de páginas web
				span(class="icon-svg_corazon footer__icon__heart")
				a(href="https://www.staffdigital.pe" target="_blank") StaffDigital
.footer__overlay__modal
.ctn__footer__modal
	.ctn__footer__modal__wrapper
		.ctn__footer__modal__img(style=`background-image: url('${STATIC_URL}img/bg-modal-footer.jpg')`)
		.ctn__footer__modal__info
			.ctn__footer__modal__info__close.icon-svg_cerrar
			.ctn__footer__modal__info__wrapper
				.ctn__footer__modal__info__wrapper__title
					h3 Trabaja con nosotros
				.ctn__footer__modal__info__wrapper__form
					form#form-contacto
						ul
							li
								.form_campo
									label(for="nombre_1") Nombre y Apellidos: <strong>*</strong>
									input(type="text", name="nombre_1", id="nombre_1", class="validate[required]")
							li
								.form_campo
									label(for="correo_1") Área a la que postulas: <strong>*</strong>
									select(name="", class="validate[required]")
										option(value="1") Contabilidad
										option(value="2") select-2

							li 
								.form__general__wrapper
									input(type="file" id="file-input")
									label(for="file-input")
										figure
											img(src=`${STATIC_URL}img/img-cv-modal.png`, alt="")
										p Adjuntar CV:


						p (
							span *
							| ) Campos son obligatorios

						a(href="#", class="btn_general btn_color_yellow")
							.btn_general_text.btn_general_text1
								span.span_txt_black ENVIAR MENSAJE
							.btn_general_text.btn_general_text2
								span.span_txt_black ENVIAR MENSAJE


				