header.header-wrap
	.header-fixed
		.header_detalle
			.header_detalle_content
				figure.header_detalle_logo
					img(src=`${STATIC_URL}img/logo-detalle.jpg`, width="", height="", alt="")
				nav.header_detalle_nav
					ul
						li
							a(href="#dp_block2") PROYECTO
						li
							a(href="#dp_block3") GALERÍA
						li
							a(href="#dp_block5") PLANOS
						li
							a(href="#dp_block6") VISTA 360º
						li
							a(href="#dp_block7") UBICACIÓN
				.header_detalle_btn
					a(href="#dp_block8" class="btn_header btn_header_color_yellow")
						.btn_header_text.btn_header_text1
							span.span_header_txt_black DÉJANOS TUS DATOS
						.btn_header_text.btn_header_text2
							span.span_txt_black DÉJANOS TUS DATOS
		.header
			.header_content
				.header_box1
					.header_box1_menu
						a(href="" class="header-navOpen icon-svg_menu")
					.header_box1_logo
						a(href="home.html")
							img(src=`${STATIC_URL}img/armas-doomo-logo.svg`, width="", height="", alt="")
				.header_box2
					.header_btn
						a(href="" class="btn_header btn_header_color_yellow proyectos_ventaOpen")
							.btn_header_text.btn_header_text1
								span.span_header_txt_black PROYECTOS EN VENTA
							.btn_header_text.btn_header_text2
								span.span_txt_black PROYECTOS EN VENTA
					.header_btn
						a(href="cotizar.html" class="btn_header btn_header_color_white")
							.btn_header_text.btn_header_text1
								span.span_header_txt_black SOLICITA INFORMACIÓN
							.btn_header_text.btn_header_text2
								span.span_header_txt_black SOLICITA INFORMACIÓN
	nav.nav(style=`background-image: url('${STATIC_URL}img/header-bg-img1.png')`)
		.nav_content
			.nav_box1
				.nav_b1_close
					a(href="" class="navClose icon-close")
				.nav_b1_logo
					a(href="home.html")
						img(src=`${STATIC_URL}img/armas-doomo-logo.svg`, width="", height="", alt="")
			.nav_box2
				ul
					li
						a(href="" class="btn_proyectos_submenu nav-proyectosOpen") Proyectos
							span.icon-svg_derecha
						.nav_proyectos_submenu_item
							ul
								li
									a(href="proyectos-venta.html" class="") En venta
								li
									a(href="proyectos-entregados.html" class="") Entregados
							.nav_proyectos_background2(style=`background-image: url('${STATIC_URL}img/header-bg-img2.png')`)
								.nav_pbg2_btn_return
									.nav_b1_close.nav_pbg2_btn_color
										a(href="" class="navReturn icon-close")
									.nav_b2_close_logo
										a(href='home.html')
											img(src='./assets/img/armas-doomo-logo.svg', width='', height='', alt='')

					li
						a(href="nosotros.html") Conócenos
					li
						a(href="inversionistas.html") Inversiones
					li
						a(href="") Blog
					li
						a(href="contacto-post-venta.html") Contáctanos
			.nav_box3
				ul
					li
						a(href="https://www.facebook.com" target="_blank" class="icon-svg_facebook")
					li
						a(href="https://www.youtube.com" target="_blank" class="icon-svg_youtube")
					li
						a(href="https://www.blogger.com/about/?r=1-null_user" target="_blank" class="icon-svg_blog")
					li
						a(href="https://pe.linkedin.com" target="_blank" class="icon-svg_linkedin")
					li
						a(href="https://plus.google.com/discover?hl=es" target="_blank" class="icon-svg_google")
					li
						a(href="" target="_blank" class="icon-svg_pinterest")
	.nav_proyectos_background(style=`background-image: url('${STATIC_URL}img/header-bg-img2.png')`)

	.header_proyectos_venta
		.header_pv_box1
			.header_pv_box1_item
				ul
					-for (var i = 0; i < 8; i++)
						li
							a(href="detalle-proyecto.html" class="header_pv_box1_a")
								span.header_pv_box1_span.label__yellow ENTREGA 2018
								span.header_pv_box1_span.label__black ENTREGA 2018
								figure.header_pv_box1_img
									img(src=`${STATIC_URL}img/megamenu-logo1.jpg`, width="", height="", alt="")
								.header_pv_box1_txt
									h3 Surquillo
										strong Calle Los Negocios 219
		.header_pv_box2
			a(href="proyectos-venta.html" class="header_pv_btn") VER MÁS PROYECTOS
				span.header_pv_span
					
	.nav_overlay
	a(href="cotizar.html").header_solicita_btn
		.header_solicita_btn_p
			p Solicita
				strong Información
		.header_solicita_btn_bg(style=`background-image: url('${STATIC_URL}img/usb2-img5.png')`)
	//- .header_