extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.bannerb3
		figure(class="bannerb3_img", style=`background-image: url('${STATIC_URL}img/bannerb3-img.png');`)
		.bannerb3_content
			.bannerb3_title
				.title-3.title-blanco.title-icons-1
					span.title-icon.yellow-white
					h2 Proyectos en Venta

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})