extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.contactb1
		figure(class="contactb1_bg" style=`background-image: url('${STATIC_URL}img/contab1-img-head.png');`)
		.contactb1_content
			.contactb1_title
				.title-1.title-gris-2
					h2 ¿Tienes alguna consulta? Escríbenos
			.contactb1_buttons
				a(href="contacto-post-venta.html", class="contactb1_link") POST-VENTA
				a(href="contacto-atencion-cliente.html", class="contactb1_link active") ATENCIÓN AL CLIENTE
			.contactb1_form
				form(action="")
					//- dentro de block esta permitido solo listas.
					.contactb1_block
						ul.contactb1_col-2
							li
								.form_campo
									label(for="contacto_nombre_apellido") Nombre y Apellidos:<strong>*</strong>
									input(type="text", name="contacto_nombre_apellido", id="contacto_nombre_apellido", class="validate[required]")
							li
								.form_campo
									label(for="contacto_correo") Email:<strong>*</strong>
									input(type="text", name="contacto_correo", id="contacto_correo", class="validate[required,custom[email]]")
							li
								.form_campo
									label(for="contacto_telefono") Teléfono:<strong>*</strong>
									input(type="number", name="contacto_telefono", id="contacto_telefono", class="inputNumber validate[required,custom[phone]]")
							li
								.form_campo
									label(for="contacto_proyecto") Proyectos:<strong>*</strong>
									input(type="text", name="contacto_proyecto", id="contacto_proyecto", class="validate[required]")

						ul
							li
								.form_campo
									label(for="contacto_mensaje") Mensaje:
									textarea(name="contacto_mensaje", id="contacto_mensaje", class="validate[required]")
					.contactb1_text1
						p.
							(<strong>*</strong>) Campos son obligatorios

					.contactb1_text2
						input(type="checkbox", name="contactb1_terminos", id="contactb1_terminos", class="validate[required]")
						label(for="contactb1_terminos")
							p.
								He leído y acepto las <a href="#" class="btn__condi">condiciones de  tratamiento de mis datos personales</a>
					.contactb1_button_send
						button(class="btn_general btn_color_yellow")
							.btn_general_text.btn_general_text1
								span.span_txt_black ENVIAR MENSAJE
							.btn_general_text.btn_general_text2
								span.span_txt_black ENVIAR MENSAJE

	.ctn__politicas
		.ctn__politicas__modal__wrapper
			.ctn__politicas__close.icon-svg_cerrar
			.ctn__politicas__wrapper
				.ctn__politicas__wrapper__prin
					.ctn__politicas__title
						h3 Políticas de Privacidad
					.ctn__politicas__parraf
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iustodolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore 
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iustodolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore 

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(function(){
			//- +++ input number +++
			function validateNumber(event) {
				var key = window.event ? event.keyCode : event.which;
				if (event.keyCode === 8 || event.keyCode === 46) {
					return true;
				} else if ( key < 48 || key > 57 ) {
					return false;
				} else {
					return true;
				}
			};
			$('.inputNumber').keypress(validateNumber);
			//- <<< end >>>

			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('button').on('click', function(event) {
				event.preventDefault();
				var valid = $("form").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
				}
			});
			//- <<< end >>>
		})