extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'header_solicita_novisible'
//- ---

//- Contenido
block content
	section.cotizar__banner
		.cotizar__banner__container
			.cotizar__banner__background(style=`background-image: url('${STATIC_URL}img/img-banner-1.png')`)
				.cotizar__banner__content
					.cotizar__banner__text
						h2 ¡Cotiza tu depa ya!
	section.cotizar
		.cotizar__container
			.cotizar__content
				.cotizar__proyectos
					.cotizar__title
						h3 1. Elige el proyecto a cotizar
					.cotizar__proyectos__items
						ul
							-for (var i = 0; i < 10; i++)
								li
									//- +++ item-3 +++
									.itemb3
										input(type="radio", name="radio", id="radio-"+i, class="validate[required]")
										label(for="radio-"+i)
											.itemb3_block
												span.itemb3_circle
												.itemb3_content
													.itemb3_content_left
														.itemb3_wrap
															.itemb3_texthead
																h3 MIRAFLORES
															figure.itemb3_img_large
																img(src=`${STATIC_URL}img/itemb3-img-large.jpg`, width="158", height="186", alt="")
															a( href="home.html", class="itemb3_link")
																span.itemb3_link_text VER MÁS
																span.itemb3_link_icon.icon-flecha-right
													.itemb3_content_right
														.itemb3_info
															//- span.itemb3_tag.black PRE-VENTA
															span.itemb3_tag.yellow ENTREGA 2018
															figure.itemb3_img_small
																img(src=`${STATIC_URL}img/itemb3-img-small.jpg`, width="60", height="60", alt="")
															.itemb3_texts
																.itemb3_box
																	figure.itemb3_icon
																		img(src=`${STATIC_URL}img/itemb3-icono-lugar.jpg`, width="16", height="16", alt="")
																	.itemb3_text
																		p Calle Los Negocios 219
																.itemb3_box
																	figure.itemb3_icon
																		img(src=`${STATIC_URL}img/itemb3-icono-dormitorio.jpg`, width="16", height="16", alt="")
																	.itemb3_text
																		p 1, 2 y 3 dorms
																.itemb3_box
																	figure.itemb3_icon
																		img(src=`${STATIC_URL}img/itemb3-icono-medidas.jpg`, width="16", height="16", alt="")
																	.itemb3_text
																		p desde 45 m²
				.cotizar__datos
					.cotizar__datos__content
						.cotizar__title
							h3 2. Ingresa tus datos
						form.cotizar__formulario(id="form__cotiza")
							ul
								li
									.form_campo
										label(for="nombre_1") Nombre:<strong>*</strong>
										input(type="text", name="nombre_1", id="nombre_1", class="validate[required] input--disable")
								li
									.form_campo
										label(for="correo_1") Email:<strong>*</strong>
										input(type="text", name="correo_1", id="correo_1", class="validate[required,custom[email]] input--disable")
								li
									.form_campo
										label(for="telefono") Teléfono:<strong>*</strong>
										input(type="number", name="telefono", id="telefono", class="inputNumber validate[required,custom[phone]] input--disable")
								li
									.cotizar__input.selectedFocus
										label(for="") Tipo de departamento:
										.cotizar__input--select
											select(name="" class="input--disable")
												option(value="") Duplex 2do piso 1702
												option(value="") Duplex 3do piso 1708
												option(value="") Duplex 3do piso 1703
								li
									.cotizar__input.selectedFocus
										label(for="") ¿En qué horario podemos contactarte?:
										.cotizar__input--select
											select(name="" class="input--disable")
												option(value="") 9:00 am - 1:00 pm
												option(value="") 8:00 am - 12:00 pm
												option(value="") 2:00 pm - 8:00 pm
								li
									.form_campo
										label(for="mensaje_1") Mensaje
										textarea(name="mensaje_1", id="mensaje_1", class="validate[required] input--disable")

								.cotizar__campos
									p.
										(<strong>*</strong>) Campos son obligatorios

								.cotizar__terminos
									input(type='checkbox', name='terminos', id="terminos" class='validate[required] input--disable')
									label(for='terminos')
									p He leído y acepto las 
										a(href='terminos-y-condiciones.html', target='_blank') condiciones de tratamiento de mis datos personales

								.cotizar__btn
									button(class="btn_header btn_color_yellow btnCotiza")
										.btn_general_text.btn_general_text2
											span.span_txt_black COTIZAR

//- js
append scripts 
	script(src=`${STATIC_URL}js/jquerysticky.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(()=>{
			//- +++ input number +++
			function validateNumber(event) {
				var key = window.event ? event.keyCode : event.which;
				if (event.keyCode === 8 || event.keyCode === 46) {
					return true;
				} else if ( key < 48 || key > 57 ) {
					return false;
				} else {
					return true;
				}
			};
			$('.soloNumber').keypress(validateNumber);
			//- <<< end >>>

			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: true
			});

			$('.btnCotizar').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form__cotiza").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					 $("#form__cotiza").submit();
				}
			});
			//- <<< end >>>


			//- +++ fixed +++
			var window_width =  $(window).width();
			var width = $(window).innerWidth();

			if (window_width <= 720) {
				$(".cotizar__datos__content").trigger("sticky_kit:detach");
			} else {
				make_sticky();
			}

			$(window).resize(function() {

				window_width =  $(window).width();

				if (window_width <= 1024) {
					$(".cotizar__datos__content").trigger("sticky_kit:detach");
				} else {
					make_sticky();
				}

			});

			function make_sticky() {
				$(".cotizar__datos__content").stick_in_parent({
					offset_top: 120,
				});
			}
			//- <<< end >>>

			//- +++ disable +++

			const toggleDisable = (nameClass, status) => {
				$(`${nameClass}`).attr('disabled', status);
				$(".cotizar__datos__content").removeClass("active")
			}
			toggleDisable('.input--disable', true);
			$(".itemb3 input[name='radio']:radio").change(function(e){
				toggleDisable('.input--disable', !$(e.target)[0].checked);
				$(".cotizar__datos__content").addClass("active")
			});
		})