extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__banner__detalle(style=`background-image: url('${STATIC_URL}img/banner-detalle.jpg');`)
		.ctn__banner__detalle__logo
			figure
				img(src=`${STATIC_URL}img/logo-proyecto.png`,  alt="")


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})