extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'header_detalle_visible'
//- ---

//- Contenido
block content
	//- +++ compartir facebook +++
	script(type='text/javascript').
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	//- <<< end >>>

	section#dp_block1
		.ctn__banner__detalle(style=`background-image: url('${STATIC_URL}img/banner-detalle.jpg');`)
			.ctn__banner__detalle__logo
				figure
					img(src=`${STATIC_URL}img/logo-proyecto.png`,  alt="")

	section#dp_block2.proyectb2
		.proyectb2__container
			.proyectb2__content
				.proyectb2__box
					.proyectb2__figuras
						.proyectb2__figuras__img(style=`background-image: url('${STATIC_URL}img/figuras-inversionistas.png')`)
				.proyectb2__info
					.proyectb2__box__info
						.proyectos__box__info__content
							.proyectos__box__info__text
								.proyectb2__box__title
									h4 Entrega 2018
								.proyectb2__box__text
									p Depas desde:
								.proyectb2__box__number
									p 45 m²
					.proyectb2__info__container
						.proyectb2__info__title
							.title-2.title-gris-2
								h2 Todo lo que te hace feliz a metros de distancia
						.proyectb2__info__subtitle
							p Depas de: 1, 2 y 3 Dorms
						.proyectb2__info__text
							p Céntrica es tener cerca a los amigos y a la familia. Es despertar por la mañana con el aroma del café de esa rica pastelería. Es caminar con tus hijos por un helado y pasear en bici por el malecón mientras disfrutas el sunset.
							p Céntrica es todo lo que siempre soñaste.
						.proyectb2__info__btn
							.proyectb2__info__btn__pdf
								a(href="../assets/img/web-armas-doomo.pdf" download="Armas Doomo") Descargar
									strong PDF
							.proyectb2__info__btn__redes
								a(class="proyectb2__icon__facebook", href='javascript: void(0);', onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.google.com/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');") Compartir
								a(class="proyectb2__icon__twitter", href="javascript: void(0);", onclick="window.open('https://twitter.com/share','ventanacompartir', 'toolbar=0, status=0, width=650, height=450')") Tweet
						.proyectb2__info__line
							.proyectb2__line__img
								img(src=`${STATIC_URL}img/proyectb2-figuras.png`, alt="")

	section#dp_block3
		.ctn__galeria
			.ctn__galeria__item.galeria--info
				.ctn__galeria__item__info__title
					h3 Distribución inteligente y acabados de calidad
			-for (var i = 0; i < 3; i++)
				a(href="https://www.youtube.com/watch?v=meBbDqAXago", class="ctn__galeria__item galeria--img", style=`background-image: url('${STATIC_URL}img/detalle-proyecto-galeria.jpg');`)
					.ctn__galeria__item__title
						h3 Dormitorio
					.ctn__galeria__ico__video
						span.homeb4_video_icon
						.homeb4_circles
							span.homeb4_circle.c1
							span.homeb4_circle.c2
							span.homeb4_circle.c3
			-for (var i = 0; i <2; i++)
				a(href=`${STATIC_URL}img/banner-detalle.jpg`, class="ctn__galeria__item galeria--img", style=`background-image: url('${STATIC_URL}img/detalle-proyecto-galeria.jpg');`)
					.ctn__galeria__item__title
						h3 Sala y Comedor

	section#dp_block4.proyectb4
		.proyectb4_content
			figure.proyectb4-figure
				img(src=`${STATIC_URL}img/proyectb4-figure.png`, width="268", height="191", alt="")
			.proyectb4_content_left
				.proyectb4_title
					.title-1.title-gris-2
						h2 Ambientes que detallan tu espacio ideal
			.proyectb4_content_right
				.proyectb4_block
					-for (var i = 0; i < 6; i++)
						article.proyectb4_box
							figure.proyectb4_img
								img(src=`${STATIC_URL}img/proyectb4-img-${i+1}.png`, width="68", height="78", alt="")
							.proyectb4_text
								h3 Terraza <br>con Jardin

	section#dp_block5.proyectb5
		.proyectb5__container
			.proyectb5__title
				.title-1.title-gris-2.title-icons-1
					span.title-icon.white-gray
					h2 Un espacio pensado en ti
			.proyectb5__container__wrapper
				.proyectb5__ctn__slider
					.proyectb5__content
						.proyectb5__slider
							-for (var i = 0; i < 5; i++)
								.proyectb5__slider__item
									figure
										img(src=`${STATIC_URL}img/img-slider.png`, alt="")
						.proyectb5__slider__nav
							-for (var i = 0; i < 5; i++)
								.proyectb5__slider__nav__item
									figure
										img(src=`${STATIC_URL}img/slider-img-thumb.png`, alt="")
				.proyectb5__ctn__info
					.proyectb5__ctn__info__wrapper
						.proyectb5__ctn__info__wrapper__prin__sec
							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1701
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1702
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1703
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1704
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1705
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque	

	section#dp_block6.proyectb6
		.proyectb6_content
			a(href="#", class="proyectb6_block proyectb6_360open")
				figure(class="proyectb6_bg_img", style=`background-image:url('${STATIC_URL}img/proyectb6-img-portada.jpg');`)
				.proyectb6_info
					.proyectb6_wrap
						figure.proyectb6_logo
							img(src=`${STATIC_URL}img/proyectb6-img-logo.png`, width="100", height="130", alt="")
						.proyectb6_title
							.title-1.title-blanco
								h2 Un espacio pensando en ti
					.proyectb6_img_foot
						figure.proyectb6_figure
							img(src=`${STATIC_URL}img/proyectb6-img-figure.png`, width="268", height="410", alt="")
			.proyectb6_imagen-360
				.proyectb6_close.icon-close
				blockquote.ricoh-theta-spherical-image(data-width='100%', data-height='650')
					| Yosuke Kashiwakura - 
					a(href='https://theta360.com/spheres/samples/2bfded60-89ee-11e6-bbb7-064087ff3472-1', target='_blank') Spherical Image - RICOH THETA

	section#dp_block7
		#ubicacion.wrap_location
				section.location__info
					.location__info__wrapper
						.location__info__wrapper__title
							h3 Cambia el carro por la bici
						.location__info__wrapper__parraf
							p Ubicado en San Antonio y a pocas cuadras del Parque Reducto y el Metropolitano. Cerca del Balboa Strip Mall, la Pastelería San Antonio, Tottus, Bodytech y Larcomar. 

							p Un nuevo proyecto que lo tiene todo.

				section.location
					.loca_main
						.loca_itm
							.loca_ubication
								a(href="#", class="loca_img", data-tipo="R")
									.loca_img_inner
										img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
									figcaption.loca_text Restaurantes
								a(href="#", class="loca_img", data-tipo="H")
									.loca_img_inner
										img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
									figcaption.loca_text Entretenimiento
								a(href="#", class="loca_img", data-tipo="S")
									.loca_img_inner
										img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
									figcaption.loca_text COMERCIOS
								a(href="#", class="loca_img", data-tipo="E")
									.loca_img_inner
										img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
									figcaption.loca_text Educación
						.loca_map
							a.btn-general.btn-yellow.close_map( href='#') Cerrar mapa
							.map_class#map

	section#dp_block8.proyectb8
		.proyectb8_content
			.proyectb8_title
				.title-1.title-blanco
					h2 ¡Cotiza tu depa ya!
			.proyectb8_form
				form(action="")
					//- dentro de block esta permitido solo listas.
					.proyectb8_block
						ul.proyectb8_col-3.screen960_screen767
							li
								.form_campo
									label(for="proyectb8_nombre_apellido") Nombre y Apellidos:<strong>*</strong>
									input(type="text", name="proyectb8_nombre_apellido", id="proyectb8_nombre_apellido", class="validate[required]")
							li
								.form_campo
									label(for="proyectb8_correo") Email:<strong>*</strong>
									input(type="text", name="proyectb8_correo", id="proyectb8_correo", class="validate[required,custom[email]]")
							li
								.form_campo
									label(for="proyectb8_telefono") Teléfono:<strong>*</strong>
									input(type="number", name="proyectb8_telefono", id="proyectb8_telefono", class="inputNumber validate[required,custom[phone]]")
							li
								.form_campo.form_campo-icon
									label(for="") Tipo de Departamento:
									select(name="", class="validate[required]")
										option(value="") Duplex 2do piso 1701
										option(value="") Duplex 2do piso 1702
							li
								.form_campo.form_campo-icon
									label(for="") ¿En qué horario podemos contactarte?:
									select(name="", class="validate[required]")
										option(value="") 9:00 am - 1:00 pm
										option(value="") 4:00 am - 10:00 pm
						ul
							li
								.form_campo
									label(for="proyectb8_mensaje") Mensaje:
									textarea(name="proyectb8_mensaje", id="proyectb8_mensaje", class="validate[required]")
					.proyectb8_text1
						p.
							(<strong>*</strong>) Campos son obligatorios

					.proyectb8_text2
						input(type="checkbox", name="proyectb8_terminos", id="proyectb8_terminos", class="validate[required]")
						label(for="proyectb8_terminos")
							p.
								He leído y acepto las <a href="#" class="btn__condi">condiciones de  tratamiento de mis datos personales</a>
					.proyectb8_button_send
						button(class="btn_general btn_color_yellow")
							.btn_general_text.btn_general_text1
								span.span_txt_black SOLICITAR INFORMACIÓN
							.btn_general_text.btn_general_text2
								span.span_txt_black SOLICITAR INFORMACIÓN

		//- +++ modal +++
		.ctn__politicas
			.ctn__politicas__modal__wrapper
				.ctn__politicas__close.icon-svg_cerrar
				.ctn__politicas__wrapper
					.ctn__politicas__wrapper__prin
						.ctn__politicas__title
							h3 Políticas de Privacidad
						.ctn__politicas__parraf
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iustodolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore 
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iustodolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
		//- +++ end +++

//- js
append scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script(async='', src='https://theta360.com/widgets.js', charset='utf-8')
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/googlemaps.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.

		//- +++ script twitter +++
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		//- <<< end >>>

		//- +++ detalle proyecto bloque b6 1/2 +++
		$( window ).on( "load", function() {
			$('.proyectb6_close').click(function(){
				$('.proyectb6_imagen-360').removeClass('show');
			});
		});
		//- <<< end >>>

		//- +++ detalle proyecto bloque b3 1/2 +++
		function myFunction(x) {
		    if (x.matches) { // If media query matches
		    } else {
		        $('.galeria--info').insertAfter('.galeria--img:nth-child(2)');
		    }
		}

		var x = window.matchMedia("(max-width: 960px)")
		myFunction(x) 
		x.addListener(myFunction)
		//- <<< end >>>
		
		$(()=>{

			//- +++ detalle proyecto bloque b3 2/2 +++
			$('.ctn__galeria').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 
			//- <<< end >>>

			//- +++ detalle proyecto bloque b6 2/2 +++
			$('.proyectb6_close').click(function(){
				$('.proyectb6_imagen-360').removeClass('show');
			});
			$('.proyectb6_360open').click(function(e){
				e.preventDefault();
				console.log('click');
				$('.proyectb6_imagen-360').addClass('show');
			});
			//- <<< end >>>

			//- +++ detalle proyecto bloque b5 +++
			 $('.proyectb5__slider').slick({
				  slidesToShow: 1,
				  slidesToScroll: 1,
				  arrows: false,
				  dots: false,
				  fade: true,
				  asNavFor: '.proyectb5__slider__nav'
			});
			$('.proyectb5__slider__nav').slick({
				  slidesToShow: 3,
				  slidesToScroll: 1,
				  asNavFor: '.proyectb5__slider',
				  arrows: true,
				  dots: false,
				  focusOnSelect: true,
				  responsive: [
				    {
				      breakpoint: 961,
				      settings: {
				        vertical: true
				      }
				    },
				    {
				      breakpoint: 768,
				      settings: {
				        vertical: false,
				        arrows: false
				      }
				    },
				    {
				      breakpoint: 481,
				      settings: {
				       	slidesToShow: 2
				      }
				    }
				  ]
			});
			$('.proyectb5__ctn__info__wrapper__prin:first').addClass('active')
			$('.proyectb5__slider__nav').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				$('.proyectb5__ctn__info__wrapper__prin').removeClass('active');
				$('.proyectb5__ctn__info__wrapper__prin').eq(nextSlide).addClass('active');
			});
			//- <<< end >>>

			//- +++ detalle proyecto bloque b8 +++
			function validateNumber(event) {
				var key = window.event ? event.keyCode : event.which;
				if (event.keyCode === 8 || event.keyCode === 46) {
					return true;
				} else if ( key < 48 || key > 57 ) {
					return false;
				} else {
					return true;
				}
			};
			$('.inputNumber').keypress(validateNumber);

			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('.proyectb8_form button').on('click', function(event) {
				event.preventDefault();
				var valid = $("form").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
				}
			});
			//- <<< end >>>


		})