extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.css`)

//- body classs
block vars
	- var bodyClass = 'detalle-proyecto'
//- ---

//- Contenido
block content
	.ctn__galeria
		.ctn__galeria__item.galeria--info
			.ctn__galeria__item__info__title
				h3 Distribución inteligente y acabados de calidad
		-for (var i = 0; i < 3; i++)
			a(href="https://www.youtube.com/watch?v=meBbDqAXago", class="ctn__galeria__item galeria--img", style=`background-image: url('${STATIC_URL}img/detalle-proyecto-galeria.jpg');`)
				.ctn__galeria__item__title
					h3 Dormitorio
		-for (var i = 0; i <2; i++)
			a(href=`${STATIC_URL}img/banner-detalle.jpg`, class="ctn__galeria__item galeria--img", style=`background-image: url('${STATIC_URL}img/detalle-proyecto-galeria.jpg');`)
				.ctn__galeria__item__title
					h3 Sala y Comedor

		
		
		
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)

	script.
		function myFunction(x) {
		    if (x.matches) { // If media query matches
		    } else {
		        $('.galeria--info').insertAfter('.galeria--img:nth-child(2)');
		    }
		}

		var x = window.matchMedia("(max-width: 960px)")
		myFunction(x) 
		x.addListener(myFunction) 
			$(()=>{
				$('.ctn__galeria').lightGallery({
					selector: 'a',
					thumbnail: false
				}); 
		})