extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.proyectb8
		.proyectb8_content
			.proyectb8_title
				.title-1.title-blanco
					h2 ¡Cotiza tu depa ya!
			.proyectb8_form
				form(action="")
					//- dentro de block esta permitido solo listas.
					.proyectb8_block
						ul.proyectb8_col-3.screen960_screen767
							li
								.form_campo
									label(for="proyectb8_nombre_apellido") Nombre y Apellidos:<strong>*</strong>
									input(type="text", name="proyectb8_nombre_apellido", id="proyectb8_nombre_apellido", class="validate[required]")
							li
								.form_campo
									label(for="proyectb8_correo") Email:<strong>*</strong>
									input(type="text", name="proyectb8_correo", id="proyectb8_correo", class="validate[required,custom[email]]")
							li
								.form_campo
									label(for="proyectb8_telefono") Teléfono:<strong>*</strong>
									input(type="number", name="proyectb8_telefono", id="proyectb8_telefono", class="inputNumber validate[required,custom[phone]]")
							li
								.form_campo.form_campo-icon
									label(for="") Tipo de Departamento:
									select(name="", class="validate[required]")
										option(value="") Duplex 2do piso 1701
										option(value="") Duplex 2do piso 1702
							li
								.form_campo.form_campo-icon
									label(for="") ¿En qué horario podemos contactarte?:
									select(name="", class="validate[required]")
										option(value="") 9:00 am - 1:00 pm
										option(value="") 4:00 am - 10:00 pm
						ul
							li
								.form_campo
									label(for="proyectb8_mensaje") Mensaje:
									textarea(name="proyectb8_mensaje", id="proyectb8_mensaje", class="validate[required]")
					.proyectb8_text1
						p.
							(<strong>*</strong>) Campos son obligatorios

					.proyectb8_text2
						input(type="checkbox", name="proyectb8_terminos", id="proyectb8_terminos", class="validate[required]")
						label(for="proyectb8_terminos")
							p.
								He leído y acepto las <a href="#" class="btn__condi">condiciones de  tratamiento de mis datos personales</a>
					.proyectb8_button_send
						button(class="btn_general btn_color_yellow")
							.btn_general_text.btn_general_text1
								span.span_txt_black SOLICITAR INFORMACIÓN
							.btn_general_text.btn_general_text2
								span.span_txt_black SOLICITAR INFORMACIÓN

		//- +++ modal +++
		.ctn__politicas
			.ctn__politicas__modal__wrapper
				.ctn__politicas__close.icon-svg_cerrar
				.ctn__politicas__wrapper
					.ctn__politicas__wrapper__prin
						.ctn__politicas__title
							h3 Políticas de Privacidad
						.ctn__politicas__parraf
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iustodolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore 
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iustodolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
		//- +++ end +++

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(()=>{
			//- +++ input number +++
			function validateNumber(event) {
				var key = window.event ? event.keyCode : event.which;
				if (event.keyCode === 8 || event.keyCode === 46) {
					return true;
				} else if ( key < 48 || key > 57 ) {
					return false;
				} else {
					return true;
				}
			};
			$('.inputNumber').keypress(validateNumber);
			//- <<< end >>>

			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('button').on('click', function(event) {
				event.preventDefault();
				var valid = $("form").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
				}
			});
			//- <<< end >>>
		})