extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = ''
//- ---

//- Contenido
block content
	section.proyectb6
		.proyectb6_content
			a(href="#", class="proyectb6_block proyectb6_360open")
				figure(class="proyectb6_bg_img", style=`background-image:url('${STATIC_URL}img/proyectb6-img-portada.jpg');`)
				.proyectb6_info
					.proyectb6_wrap
						figure.proyectb6_logo
							img(src=`${STATIC_URL}img/proyectb6-img-logo.png`, width="100", height="130", alt="")
						.proyectb6_title
							.title-1.title-blanco
								h2 Un espacio pensando en ti
					.proyectb6_img_foot
						figure.proyectb6_figure
							img(src=`${STATIC_URL}img/proyectb6-img-figure.png`, width="268", height="410", alt="")
			.proyectb6_imagen-360
				.proyectb6_close.icon-close
				blockquote.ricoh-theta-spherical-image(data-width='100%', data-height='650')
					| Yosuke Kashiwakura - 
					a(href='https://theta360.com/spheres/samples/2bfded60-89ee-11e6-bbb7-064087ff3472-1', target='_blank') Spherical Image - RICOH THETA

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(async='', src='https://theta360.com/widgets.js', charset='utf-8')
	script.
		//- +++ detalle proyecto bloque b6 1/2 +++
		$( window ).on( "load", function() {
			$('.proyectb6_close').click(function(){
				$('.proyectb6_imagen-360').removeClass('show');
			});
		});
		//- <<< end >>>

		$(()=>{
			//- +++ detalle proyecto bloque b6 2/2 +++
			$('.proyectb6_close').click(function(){
				$('.proyectb6_imagen-360').removeClass('show');
			});
			$('.proyectb6_360open').click(function(e){
				e.preventDefault();
				console.log('click');
				$('.proyectb6_imagen-360').addClass('show');
			});
			//- <<< end >>>
		})