extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.proyectb4
		.proyectb4_content
			figure.proyectb4-figure
				img(src=`${STATIC_URL}img/proyectb4-figure.png`, width="268", height="191", alt="")
			.proyectb4_content_left
				.proyectb4_title
					.title-1.title-gris-2
						h2 Ambientes que detallan tu espacio ideal
			.proyectb4_content_right
				.proyectb4_block
					-for (var i = 0; i < 6; i++)
						article.proyectb4_box
							figure.proyectb4_img
								img(src=`${STATIC_URL}img/proyectb4-img-${i+1}.png`, width="68", height="78", alt="")
							.proyectb4_text
								h3 Terraza <br>con Jardin
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})