extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = ''
//- ---

//- Contenido
block content
	section.proyectb5
		.proyectb5__container
			.proyectb5__title
				.title-1.title-gris-2.title-icons-1
					span.title-icon.white-gray
					h2 Un espacio pensado en ti
			.proyectb5__container__wrapper
				.proyectb5__ctn__slider
					.proyectb5__content
						.proyectb5__slider
							-for (var i = 0; i < 5; i++)
								.proyectb5__slider__item
									figure
										img(src=`${STATIC_URL}img/img-slider.png`, alt="")
						.proyectb5__slider__nav
							-for (var i = 0; i < 5; i++)
								.proyectb5__slider__nav__item
									figure
										img(src=`${STATIC_URL}img/slider-img-thumb.png`, alt="")
				.proyectb5__ctn__info
					.proyectb5__ctn__info__wrapper
						.proyectb5__ctn__info__wrapper__prin__sec
							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1701
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1702
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1703
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1704
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque

							.proyectb5__ctn__info__wrapper__prin
								.proyectb5__ctn__info__title
									h3 Duplex 1er piso
									h4 1705
									p Área total: 72.50m²

								.proyectb5__ctn__info__lists
									-for (var r = 0; r < 3; r++)
										ul
											li.area Área techada dúplex (1er y 2do nivel):
											li.zona 138.00m²

									ul
										li.area Vista hacia:
										li.zona parque
										

	


//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			 $('.proyectb5__slider').slick({
				  slidesToShow: 1,
				  slidesToScroll: 1,
				  arrows: false,
				  dots: false,
				  fade: true,
				  asNavFor: '.proyectb5__slider__nav'
			});
			$('.proyectb5__slider__nav').slick({
				  slidesToShow: 3,
				  slidesToScroll: 1,
				  asNavFor: '.proyectb5__slider',
				  arrows: true,
				  dots: false,
				  focusOnSelect: true,
				  responsive: [
				    {
				      breakpoint: 961,
				      settings: {
				        vertical: true
				      }
				    },
				    {
				      breakpoint: 768,
				      settings: {
				        vertical: false,
				        arrows: false
				      }
				    },
				    {
				      breakpoint: 481,
				      settings: {
				       	slidesToShow: 2
				      }
				    }
				  ]
			});
			$('.proyectb5__ctn__info__wrapper__prin:first').addClass('active')
			$('.proyectb5__slider__nav').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				$('.proyectb5__ctn__info__wrapper__prin').removeClass('active');
				$('.proyectb5__ctn__info__wrapper__prin').eq(nextSlide).addClass('active');
			});
		})