extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'detalle-proyecto'
//- ---

//- Contenido
block content
	#ubicacion.wrap_location
		section.location__info
			.location__info__wrapper
				.location__info__wrapper__title
					h3 Cambia el carro por la bici
				.location__info__wrapper__parraf
					p Ubicado en San Antonio y a pocas cuadras del Parque Reducto y el Metropolitano. Cerca del Balboa Strip Mall, la Pastelería San Antonio, Tottus, Bodytech y Larcomar. 

					p Un nuevo proyecto que lo tiene todo.

		section.location
			.loca_main
				.loca_itm
					.loca_ubication
						a(href="#", class="loca_img", data-tipo="R")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text Restaurantes
						a(href="#", class="loca_img", data-tipo="H")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text Entretenimiento
						a(href="#", class="loca_img", data-tipo="S")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text COMERCIOS
						a(href="#", class="loca_img", data-tipo="E")
							.loca_img_inner
								img(src=`${STATIC_URL}img/icono-1.png`, width="30", height="30", alt="")
							figcaption.loca_text Educación
				.loca_map
					a.btn-general.btn-yellow.close_map( href='#') Cerrar mapa
					.map_class#map

		
		
		
//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/googlemaps.js`)
	script.
		$(()=>{
		})
