extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'enviado'
//- ---

//- Contenido
block content
	.ctn__env__error
		.ctn__env__error__wrapper
			.ctn__env__error__wrapper__img
				figure
					img(src=`${STATIC_URL}img/img-enviado.png`, width="222", height="210", alt="")
			.ctn__env__error__wrapper__info
				h3 Mensaje Enviado
				p Gracias por enviar tu mensaje, nos estaremos comunicando con usted a la brevedad posible.
				a(href="home.html", class="btn_general btn_color_yellow")
					.btn_general_text.btn_general_text1
						span.span_txt_black REGRESAR AL INICIO
					.btn_general_text.btn_general_text2
						span.span_txt_black REGRESAR AL INICIO


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})