extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = ''
//- ---

//- Contenido
block content
	.ctn__env__error
		.ctn__env__error__wrapper
			.ctn__env__error__wrapper__img
				figure
					img(src=`${STATIC_URL}img/img-error.png`, alt="")
			.ctn__env__error__wrapper__info
				h3 Página no encontrada
				p Esta página puede estar no disponible o haber cambiado de dirección o no existir. Compruebe si la dirección es correcta o regrese.
				a(href="home.html", class="btn_general btn_color_yellow")
					.btn_general_text.btn_general_text1
						span.span_txt_black REGRESAR AL INICIO
					.btn_general_text.btn_general_text2
						span.span_txt_black REGRESAR AL INICIO


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})