extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.homeb1
		.homeb1_slider
			ul.homeb1PitcherSlider
				-for (var i = 0; i < 3; i++)
					li.homeb1_item
						.homeb1_block
							.homeb1_banner
								figure(class="homeb1_img" style=`background-image: url('${STATIC_URL}img/homeb1-img-fondo.jpg')`)
							article.homeb1_textarea
								.homeb1_wrap
									.homeb1_text1
										h2 SUPRA
									.homeb1_text2
										h1 Una nueva forma de vivir en la ciudad que reta lo convencional
									.homeb1_button
										a(href="#", class="btn_general btn_color_border_yellow")
											.btn_general_text.btn_general_text1
												span.span_txt_border_yellow VER PROYECTO
											.btn_general_text.btn_general_text2
												span.span_txt_border_yellow VER PROYECTO
			.homeb1_controls
				.homeb1_arrows
					span.homeb1_prev
					span.homeb1_next

	section.homeb2
		.homeb2_content
			.homeb2_content_left
				.homeb2_head
					.homeb2_title
						.title-1.title-gris-1.title-icons-2
							span.title-icon.white-gray
							h2 Tenemos el proyecto que buscas
					.homeb2_controls
						span.homeb2_prev
						span.homeb2_next
			.homeb2_content_right
				.homeb2_slider
					ul.homeb2PitcherSlick
						-for (var i = 0; i < 3; i++)
							li
								//- +++ item-1 +++
								a(href="detalle-proyecto.html", class="itemb1")
									.itemb1_texthead
										h3 MIRAFLORES
									figure.itemb1_img_large
										img(src=`${STATIC_URL}img/itemb1-img-large.jpg`, width="396", height="391", alt="")
									.itemb1_info
										.itemb1_wrap
											figure.itemb1_img_small
												img(src=`${STATIC_URL}img/itemb1-img-small.jpg`, width="80", height="80", alt="")
											span(class="itemb1_tag yellow") ENTREGA 2018
											span(class="itemb1_tag black", style="display: none;") PRE-VENTA
										.itemb1_texts
											.itemb1_box
												figure.itemb1_icon
													img(src=`${STATIC_URL}img/itemb1-icono-lugar.jpg`, width="25", height="25", alt="")
												.itemb1_text
													p Calle Los Negocios 219
											.itemb1_box
												figure.itemb1_icon
													img(src=`${STATIC_URL}img/itemb1-icono-dormitorio.jpg`, width="25", height="25", alt="")
												.itemb1_text
													p 1, 2 y 3 dorms
											.itemb1_box
												figure.itemb1_icon
													img(src=`${STATIC_URL}img/itemb1-icono-medidas.jpg`, width="25", height="25", alt="")
												.itemb1_text
													p desde 45 m²
				.homeb2_foot
					.homeb2_logos
						ul
							-for (var i = 0; i < 5; i++)
								li
									figure.homeb2_logos_img
										img(src=`${STATIC_URL}img/homeb2-img.png`, width="86", height="36", alt="")
					.homeb2_button
						a(href="#", class="homeb2_button_link") VER MÁS PROYECTOS <span class="icon-svg_flecha"></span>

	section.homeb3#homeb3Animation
		.homeb3_content
			.homeb3_content_left
				.homeb3_head
					span.homeb3_head_text CONOCE
					figure.homeb3_head_img
						img(src=`${STATIC_URL}img/homeb3-img.png`, width="580", height="580", alt="")
					figure.homeb3_head_figuras
						img(src=`${STATIC_URL}img/homeb3-figuras.png`, width="189", height="483", alt="")

			.homeb3_content_right
				.homeb3_wrap
					.homeb3_title
						.title-1.title-gris-1
							h2 Compromiso <br>de brindarte lo mejor
					.homeb3_boxes
						.homeb3_box
							.homeb3_number
								span(class="homeb3_number_text") 50
							.homeb3_text
								p años de experiencia en el sector inmobiliario
						.homeb3_box
							.homeb3_group
								span.homeb3_simbolo +
								.homeb3_number
									span(class="homeb3_number_text") 200
							.homeb3_text
								p proyectos entregados satisfactoriamente
						.homeb3_box
							.homeb3_number
								span(class="homeb3_number_text") 12
							.homeb3_text
								p proyectos en cartera actualmente
					.homeb3_button
						a(href="nosotros.html", class="btn_general btn_color_yellow")
							.btn_general_text.btn_general_text1
								span.span_txt_black CONOCE ARMAS DOOMO
							.btn_general_text.btn_general_text2
								span.span_txt_black CONOCE ARMAS DOOMO

	section.homeb4
		.homeb4_content
			.homeb4_content_left
				.homeb4_slider
					ul.homeb4PitcherSlider.videoGallery
						-for (var i = 0; i < 4; i++)
							li
								.homeb4_info
									.homeb4_wrap
										.homeb4_text
											p.
												Me alegra comprobar que cumplen lo que ofrecen, las áreas comunes son tal cual las ofrecieron en el folleto y en video 3D.
										.homeb4_foot
											.homeb4_title
												h2 Hugo Bodero y familia #{i+1}
											.homeb4_subtitle
												h3 Propietario de proyecto Hera
									a(href="https://www.youtube.com/watch?v=meBbDqAXago", class="homeb4_video")
										span.homeb4_video_icon
										.homeb4_circles
											span.homeb4_circle.c1
											span.homeb4_circle.c2
											span.homeb4_circle.c3
			.homeb4_content_right
				figure(class="homeb4_img", style=`background-image: url('${STATIC_URL}img/homeb4-img.jpg')`)

	section.homeb5
		.homeb5_content
			.homeb5_title
				.title-1.title-negro
					h2 Compromiso <br>de brindarte lo mejor
			.homeb5_slider
				ul.homeb5PitcherSlick
					-for (var i = 0; i < 3; i++)
						li
							.homeb5_box
								.homeb5_wrap
									figure.homeb5_img
										img(src=`${STATIC_URL}img/homeb5-img-${i+1}.jpg`, width="318", height="239", alt="")
									.homeb5_redes
										.homeb5_group
											span.homeb5_icon.icon-svg_like
											span.homeb5_text 12
										.homeb5_group
											span.homeb5_icon.icon-svg_compartir
											span.homeb5_text 24
										.homeb5_group
											span.homeb5_icon.icon-svg_comentario
											span.homeb5_text 32
			.homeb5_img_abs
				img(src=`${STATIC_URL}img/homeb5-img-lineas.png`, width="270", height="514", alt="")

	section.homeb6
		.homeb6_content
			.homeb6_content_left
				.homeb6_head
					.homeb6_head_title
						.title-1.title-blanco
							h2 Enterate de las noticias sobre el rubro
					.homeb6_head_button
						a(href="#", class="btn_general btn_color_yellow")
							.btn_general_text.btn_general_text1
								span.span_txt_black IR A BLOG
							.btn_general_text.btn_general_text2
								span.span_txt_black IR A BLOG
			.homeb6_content_right
				.homeb6_block
					.homeb6_box
						.homeb6_text1
							h3 Las 6 medidas del Gobierno para facilitar la compra de viviendas
						.homeb6_text2
							P.
								El Ministerio de Vivienda busca implementar medidas para dinamizar el mercado inmobiliario. Aquí te contamos cuáles son los cambios que se...
					.homeb6_box
						.homeb6_text1
							h3 ¿Dónde se ubica la vivienda más cara y más barata en Lima?
						.homeb6_text2
							P.
								La oferta total de viviendas alcanzó las 25.471 unidades en el 2017, según el último informe sobre la actividad edificadora en Lima Metropolitana y el

//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/jquery.countTo.js`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script.
		$(()=>{
			//- +++ home bloque #1 +++
			$('.homeb1PitcherSlider').bxSlider({
				controls:true,
				prevSelector: '.homeb1_prev',
				nextSelector: '.homeb1_next',
				nextText: '',
				prevText: '',
				pager: false,
				adaptiveHeight:true,
				auto:true,
				pause: '5000',
				speed: '600',
				onSliderLoad: function(currentIndex) {
					$('.homeb1PitcherSlider').children().eq(currentIndex+1).addClass('active');
				},
				onSlideBefore: function($slideElement){
					$('.homeb1PitcherSlider').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});
			//- <<< end >>>

			//- +++ home bloque #2 +++
			var homeb2Slick = $('.homeb2PitcherSlick').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 500,
				slidesToShow: 3,
				slidesToScroll: 1,
				arrows: true,
				prevArrow: '.homeb2_prev',
				nextArrow: '.homeb2_next',
				dots: false,
				responsive: [
					{
						breakpoint: 1025,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 481,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
			//- <<< end >>>

			//- +++ home bloque #3 +++
			var hombeb3CLass = ['timer1','timer2','timer3'];
			$('.homeb3_number_text').each(function(i,e){
				$(e).addClass(hombeb3CLass[i%hombeb3CLass.length])
			});

			function homeb3Count(){
				var b38_width = $(window).width();
				if (b38_width > 1024) {
					$t1 = $('.timer1');
					$t1.text($t1.text().replace(',',''));
					$t1.countTo({
						from: 0,
						to: $t1.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t2 = $('.timer2');
					$t2.text($t2.text().replace(',',''));
					$t2.countTo({
						from: 0,
						to: $t2.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t3 = $('.timer3');
					$t3.text($t3.text().replace(',',''));
					$t3.countTo({
						from: 0,
						to: $t3.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
				}
			}

			var homeb3Animation = $('#homeb3Animation');
			homeb3Animation.waypoint(function(direction) {
				if (direction === 'down') {
					$('.homeb3').addClass('active');
					homeb3Count();
				} else {
					$('.homeb3').removeClass('active');
				}
			}, {
				offset:'40%'
			});
			//- <<< end >>>
			
			//- +++ home bloque #4 +++
			$('.videoGallery').lightGallery({
				selector: 'a'
			});

			$('.homeb4PitcherSlider').bxSlider({
				mode: 'fade',
				adaptiveHeight:true,
				auto:false,
				pause: '5000',
				speed: '600',
				controls:false,
				pager: true,
				onSliderLoad: function(currentIndex) {
					$('.homeb4PitcherSlider').children().eq(currentIndex).addClass('active');
				},
				onSlideBefore: function($slideElement){
					$('.homeb4PitcherSlider').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});

			setInterval(function() {
				setTimeout(function(){
					$('.homeb4_circles').removeClass('homeb4Animation');
				}, 4000);
				$('.homeb4_circles').addClass('homeb4Animation');
			}, 8000);
			//- <<< end >>>

			//- +++ home bloque #5 +++
			var homeb5Slick = $('.homeb5PitcherSlick').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 500,
				slidesToShow: 3,
				slidesToScroll: 1,
				arrows: false,
				dots: false,
				responsive: [
					{
						breakpoint: 769,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 481,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
			//- <<< end >>>
		})