extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.inversionistas__banner
		.inversioanistas__banner__container
			.inversionistas__banner__background(style=`background-image: url('${STATIC_URL}img/inversionistas-banner.png')`)
				.inversionistas__banner__content
					figure.inversionistas__banner__icon
						img(src=`${STATIC_URL}img/icon-titles.png`, alt="")
					.inversionistas__banner__title
						h2 Inversionistas

	section.investorsb1
		.investorb1__container
			.investorsb1__img__box
				.investorsb1__img__content
					.investorsb1__img__figuras(style=`background-image: url('${STATIC_URL}img/figuras-inversionistas.png')`)
				figure.investorsb1__img
					img(src=`${STATIC_URL}img/inversiones-img.png`, alt="")
			.investorsb1__items
				.investorsb1__items__container
					.investorsb1__items__title
						h3 Invirtiendo con Armas Dommo obtendras
					.investorsb1__items__content
						.investorsb1__items__box
							.investorsb1__items__icon
								img(src=`${STATIC_URL}img/inversiones-icon-1.png`, alt="")
							.investorsb1__items__text
								p Seguridad
							.investorsb1__items__info
								p Selecto grupo de inversionistas que nos acompaña a lo largo de más de 50 años de experiencia inmobiliaria. 
						.investorsb1__items__box
							.investorsb1__items__icon
								img(src=`${STATIC_URL}img/inversiones-icon-1.png`, alt="")
							.investorsb1__items__text
								p Rentabilidad
							.investorsb1__items__info
								p Te ofrecemos los mejores precios de lanzamiento en nuestros proyectos, con los que podrás obtener una alta rentabilidad por tu inversión.
						.investorsb1__items__box
							.investorsb1__items__icon
								img(src=`${STATIC_URL}img/inversiones-icon-1.png`, alt="")
							.investorsb1__items__text
								p Facilidad
							.investorsb1__items__info
								p Nosotros nos encargamos de todos los trámites de formalización, firma de acuerdos y contratos para tu tranquilidad.
						.investorsb1__items__box
							.investorsb1__items__icon
								img(src=`${STATIC_URL}img/inversiones-icon-1.png`, alt="")
							.investorsb1__items__text
								p Diversificación
							.investorsb1__items__info
								p Amplia cartera de Proyectos, constituida por edificios de oficinas, departamentos de vivienda, casas de ciudad y playa.

	section.investorsb2
		.investorsb2__container
			.investorsb2__content
				.investorsb2__title
					.title-1.title-gris-2
						h2 Puedes escoger invertir entre
				.investorsb2__items
					.investorsb2__box
						.investorsb2__box__icon
							.investorsb2__icon
								img(src=`${STATIC_URL}img/inversiones-icon2.png`, alt="")
						.investorsb2__box__text
							p Departamento
					.investorsb2__box
						.investorsb2__box__icon
							.investorsb2__icon
								img(src=`${STATIC_URL}img/inversiones-icon2.png`, alt="")
						.investorsb2__box__text
							p Casas
					.investorsb2__box
						.investorsb2__box__icon
							.investorsb2__icon
								img(src=`${STATIC_URL}img/inversiones-icon2.png`, alt="")
						.investorsb2__box__text
							p Oficinas

	section.investorsb3
		.investorsb3__container
			.investorsb3__content
				.investorsb3__title
					.title-1.title-gris-2
						h2 ¡Escoge el plan que se adecue más a ti!
				.investorsb3__planes
					.investorsb3__planes__box
						.investorsb3__planes__title
							.investorsb3__title__image
								img(src=`${STATIC_URL}img/inversiones-icon-3.png`, alt="")
							.investorsb3__title__text
								h3 Plan renta futura superior
						.investorsb3__text
							p En Armas Doomo Inversiones nos preocupamos para que inviertas con seguridad, por eso te invitamos a formar parte de nuestro selecto grupo de inversionistas que nos acompaña a lo largo de más de 50 años de experiencia inmobiliaria invirtiendo con nosotros en Bienes Raíces. Obtén la mejor plusvalía del mercado, con seguridad y garantía, es nuestra mayor preocupación
					.investorsb3__planes__box
						.investorsb3__planes__title
							.investorsb3__title__image
								img(src=`${STATIC_URL}img/inversiones-icon-3.png`, alt="")
							.investorsb3__title__text
								h3 Plan diversificado
						.investorsb3__text
							p Con Armas Doomo puedes acceder a un amplio portafolio de inversión en bienes raíces, desde lotes y departamentos, hasta oficinas y bancos de terreno. Asimismo, gracias a nuestra amplia cobertura de mercado, accedemos a proyectos dirigidos a los diferentes segmentos del mercado. Tú elijes donde invertir y nosotros nos encargamos de todos los trámites de formalización, firma de acuerdos y contratos para tu tranquilidad.
					.investorsb3__planes__box
						.investorsb3__planes__title
							.investorsb3__title__image
								img(src=`${STATIC_URL}img/inversiones-icon-3.png`, alt="")
							.investorsb3__title__text
								h3 Plan se paga solo
						.investorsb3__text
							p Con este plan, nuestros inversionistas únicamente cubren desde el 20% del valor de la propiedad durante la compra en preventa, y al concluir el proyecto Armas Doomo se encarga de venderlo para pagar el saldo restante, entregando la rentabilidad correspondiente al porcentaje entregado por el inversionista.

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})