extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section(style="background: #ffbf02; padding: 100px 0;")
		ul(style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;")
			-for (var i = 0; i < 2; i++)
				li(style="width: 396px; margin: 0;")
					//- +++ item-1 +++
					a(href="#", class="itemb1")
						.itemb1_texthead
							h3 MIRAFLORES
						figure.itemb1_img_large
							img(src=`${STATIC_URL}img/itemb1-img-large.jpg`, width="396", height="391", alt="")
						.itemb1_info
							.itemb1_wrap
								figure.itemb1_img_small
									img(src=`${STATIC_URL}img/itemb1-img-small.jpg`, width="80", height="80", alt="")
								span.itemb1_tag.yellow ENTREGA 2018
							.itemb1_texts
								.itemb1_box
									figure.itemb1_icon
										img(src=`${STATIC_URL}img/itemb1-icono-lugar.jpg`, width="25", height="25", alt="")
									.itemb1_text
										p Calle Los Negocios 219
								.itemb1_box
									figure.itemb1_icon
										img(src=`${STATIC_URL}img/itemb1-icono-dormitorio.jpg`, width="25", height="25", alt="")
									.itemb1_text
										p 1, 2 y 3 dorms
								.itemb1_box
									figure.itemb1_icon
										img(src=`${STATIC_URL}img/itemb1-icono-medidas.jpg`, width="25", height="25", alt="")
									.itemb1_text
										p desde 45 m²
					//- <<< end >>>

				li(style="width: 396px; margin: 0;")
					//- +++ item-1 +++
					a(href="#", class="itemb1")
						.itemb1_texthead
							h3 MIRAFLORES
						figure.itemb1_img_large
							img(src=`${STATIC_URL}img/itemb1-img-large.jpg`, width="396", height="391", alt="")
						.itemb1_info
							.itemb1_wrap
								figure.itemb1_img_small
									img(src=`${STATIC_URL}img/itemb1-img-small.jpg`, width="80", height="80", alt="")
								span.itemb1_tag.black PRE-VENTA
							.itemb1_texts
								.itemb1_box
									figure.itemb1_icon
										img(src=`${STATIC_URL}img/itemb1-icono-lugar.jpg`, width="25", height="25", alt="")
									.itemb1_text
										p Calle Los Negocios 219
								.itemb1_box
									figure.itemb1_icon
										img(src=`${STATIC_URL}img/itemb1-icono-dormitorio.jpg`, width="25", height="25", alt="")
									.itemb1_text
										p 1, 2 y 3 dorms
								.itemb1_box
									figure.itemb1_icon
										img(src=`${STATIC_URL}img/itemb1-icono-medidas.jpg`, width="25", height="25", alt="")
									.itemb1_text
										p desde 45 m²
					//- <<< end >>>

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{

		})