extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section(style="background: #ffbf02; padding: 100px 0;")
		ul(style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;")
			-for (var i = 0; i < 4; i++)
				li(style="width: 396px; margin: 0;")
					//- +++ item-2 +++
					.itemb2
						.itemb2_texthead
							h3 MIRAFLORES
						figure.itemb2_img_large
							img(src=`${STATIC_URL}img/itemb2-img-large.jpg`, width="396", height="391", alt="")
						.itemb2_info
							.itemb2_wrap
								figure.itemb2_img_small
									img(src=`${STATIC_URL}img/itemb2-img-small.jpg`, width="80", height="80", alt="")
							.itemb2_texts
								.itemb2_box
									figure.itemb2_icon
										img(src=`${STATIC_URL}img/itemb2-icono-lugar.jpg`, width="25", height="25", alt="")
									.itemb2_text
										p Calle Los Negocios 219
					//- <<< end >>>

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{

		})