extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section(style="background: #ffffff; padding: 100px 0;")
		ul(style="display: flex; flex-direction: row; flex-wrap: wrap;")
			-for (var i = 0; i < 2; i++)
				li(style="width: 390px; margin: 0 10px;")
					//- +++ item-3 +++
					.itemb3
						input(type="radio", name="radio", id="radio-"+i, class="validate[required]")
						label(for="radio-"+i)
							.itemb3_block
								span.itemb3_circle
								.itemb3_content
									.itemb3_content_left
										.itemb3_wrap
											.itemb3_texthead
												h3 MIRAFLORES
											figure.itemb3_img_large
												img(src=`${STATIC_URL}img/itemb3-img-large.jpg`, width="158", height="186", alt="")
											a( href="home.html", class="itemb3_link")
												span.itemb3_link_text VER MÁS
												span.itemb3_link_icon.icon-flecha-right
									.itemb3_content_right
										.itemb3_info
											//- span.itemb3_tag.black PRE-VENTA
											span.itemb3_tag.yellow ENTREGA 2018
											figure.itemb3_img_small
												img(src=`${STATIC_URL}img/itemb3-img-small.jpg`, width="60", height="60", alt="")
											.itemb3_texts
												.itemb3_box
													figure.itemb3_icon
														img(src=`${STATIC_URL}img/itemb3-icono-lugar.jpg`, width="16", height="16", alt="")
													.itemb3_text
														p Calle Los Negocios 219
												.itemb3_box
													figure.itemb3_icon
														img(src=`${STATIC_URL}img/itemb3-icono-dormitorio.jpg`, width="16", height="16", alt="")
													.itemb3_text
														p 1, 2 y 3 dorms
												.itemb3_box
													figure.itemb3_icon
														img(src=`${STATIC_URL}img/itemb3-icono-medidas.jpg`, width="16", height="16", alt="")
													.itemb3_text
														p desde 45 m²
					//- <<< end >>>

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{

		})