extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.usb1
		.usb1_content
			.usb1_box_left
				.usb1_bl_content
					.usb1_title_left.title-3.title-blanco.title-icons-1
						span.title-icon.yellow-white
						h2 Compromiso siempre de mejorar tu vida
					.usb1_p
						p
							| Forma parte de un grupo empresarial comprometido con el desarrollo inmobiliario en el Perú, agregando valor a cada uno de nuestros proyectos, cuidando el medio ambiente y generando relaciones a largo plazo con nuestros clientes e inversionistas.
				.usb1_triangle
					img(src=`${STATIC_URL}img/usb1-img3.png`, width="", height="", alt="")
			.usb1_box_right
				.usb1_box_right_bg(style=`background-image: url('${STATIC_URL}img/usb1-img1.jpg')`)
				img(src=`${STATIC_URL}img/usb1-img2.png`, width="", height="", alt="")
	section.usb2
		.usb2_box_left
		.usb2_box_right
			a.usb2_bl_img
				img(src=`${STATIC_URL}img/usb2-img1.png`, width="", height="", alt="")
			.usb2_br_content
				.usb2_h1.title-1.title-negro
					h1 Beneficios que aportan
						strong valor a nuestros proyectos
				.usb2_br_txt_content
					.usb2_br_txt
						.usb2_br_img
							img(src=`${STATIC_URL}img/usb2-img2.jpg`, width="", height="", alt="")
						.usb2_br_h2
							h2 Proyectos con
								strong excelente ubicación
						.usb2_br_p
							p 
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate tellus id elit auctor efficitur.

					.usb2_br_txt
						.usb2_br_img
							img(src=`${STATIC_URL}img/usb2-img3.jpg`, width="", height="", alt="")
						.usb2_br_h2
							h2 Proyectos con
								strong excelente ubicación
						.usb2_br_p
							p 
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate tellus id elit auctor efficitur.
					.usb2_br_txt
						.usb2_br_img
							img(src=`${STATIC_URL}img/usb2-img4.jpg`, width="", height="", alt="")
						.usb2_br_h2
							h2 Proyectos con
								strong excelente ubicación
						.usb2_br_p
							p 
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate tellus id elit auctor efficitur.

	section.usb3(style=`background-image: url('${STATIC_URL}img/usb3-img1.png')`)
		.usb3_content
			.usb3_box_left
				.usb3_bl_h1.title-1.title-negro
					h1 Un solo equipo manteniendo el mismo objetivo
				.usb3_bl_txt(data-parallax=`{"y": -40}`)
					.usb3_bl_h2
						h2 Visión
					.usb3_bl_p
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate tellus id elit auctor efficitur. Duis tincidunt enim dignissim erat tincidunt, et posuere ipsum pretium. Ut laoreet porta risus, ac sodales metus dapibus non. Mauris ut malesuada magna, quis ultricies turpis. Morbi consequat lacus quis lacus dapibus interdum.	
			.usb3_box_right
				.usb3_br_txt(data-parallax=`{"y": 40}`)
					.usb3_br_h2
						h2 Misión
					.usb3_br_p
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate tellus id elit auctor efficitur. Duis tincidunt enim dignissim erat tincidunt, et posuere ipsum pretium. Ut laoreet porta risus, ac sodales metus dapibus non. Mauris ut malesuada magna, quis ultricies turpis. Morbi consequat lacus quis lacus dapibus interdum.	
	section.usb4
		.usb4_bg_img(style=`background-image: url('${STATIC_URL}img/usb4-img1.jpg')`)
		.usb4_filter
		.usb4_content
			.usb4_p
				p 
					|	Múdate hoy a uno de nuestros depas ubicado en las mejores zonas
			.usb4_btn
				a(href="#", class="btn_general btn_color_yellow")
					.btn_general_text.btn_general_text1
						span.span_txt_black VER PROYECTOS
					.btn_general_text.btn_general_text2
						span.span_txt_black VER PROYECTOS


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/jquery.parallax-scroll.js`)
	script.
		$(()=>{
			//code here ------
			$( window ).on( "load", function() {
				$('.usb1_box_right_bg').addClass('active');
				$('.usb1_bl_content').addClass('active');
			});
			//waypoints usb2
			$('.usb2_br_txt').each(function(index, el){
				$(this).css('transition-delay', index/3 + 's');
			})
			var animaFooter = $('.usb2');
			animaFooter.waypoint(function(direction) {
				if (direction === 'down') {
					$('.usb2_br_txt').addClass('active');
				} else{
					$('.usb2_br_txt').removeClass('active');
				}
			}, {
				offset:'60%'
			});

			var animaFooter = $('.usb2');
			animaFooter.waypoint(function(direction) {
				if (direction === 'down') {
				     $('.usb2_h1').addClass('active');
				} else{
				     $('.usb2_h1').removeClass('active');
				}
			}, {
			  offset:'60%'
			});

			//waypoints usb4
			var animaFooter = $('.usb4');
				animaFooter.waypoint(function(direction) {
				if (direction === 'down') {
						 $('.usb4_bg_img').addClass('active');
				} else{
						 $('.usb4_bg_img').removeClass('active');
				}
				}, {
						 offset:'60%'
				});

		})
