extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	//- +++ compartir facebook +++
	script(type='text/javascript').
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	//- <<< end >>>

	section.proyectb2
		.proyectb2__container
			.proyectb2__content
				.proyectb2__box
					.proyectb2__figuras
						.proyectb2__figuras__img(style=`background-image: url('${STATIC_URL}img/figuras-inversionistas.png')`)
				.proyectb2__info
					.proyectb2__box__info
						.proyectos__box__info__content
							.proyectos__box__info__text
								.proyectb2__box__title
									h4 Entrega 2018
								.proyectb2__box__text
									p Depas desde:
								.proyectb2__box__number
									p 45 m²
					.proyectb2__info__container
						.proyectb2__info__title
							.title-2.title-gris-2
								h2 Todo lo que te hace feliz a metros de distancia
						.proyectb2__info__subtitle
							p Depas de: 1, 2 y 3 Dorms
						.proyectb2__info__text
							p Céntrica es tener cerca a los amigos y a la familia. Es despertar por la mañana con el aroma del café de esa rica pastelería. Es caminar con tus hijos por un helado y pasear en bici por el malecón mientras disfrutas el sunset.
							p Céntrica es todo lo que siempre soñaste.
						.proyectb2__info__btn
							.proyectb2__info__btn__pdf
								a(href="../assets/img/web-armas-doomo.pdf" download="Armas Doomo") Descargar
									strong PDF
							.proyectb2__info__btn__redes
								a(class="proyectb2__icon__facebook", href='javascript: void(0);', onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.google.com/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');") Compartir
								a(class="proyectb2__icon__twitter", href="javascript: void(0);", onclick="window.open('https://twitter.com/share','ventanacompartir', 'toolbar=0, status=0, width=650, height=450')") Tweet
						.proyectb2__info__line
							.proyectb2__line__img
								img(src=`${STATIC_URL}img/proyectb2-figuras.png`, alt="")


//- js
append scripts
	//- +++ script twitter +++
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	//- <<< End >>>
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})