extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.proyectsb1
		.bannerb3
			figure(class="bannerb3_img", style=`background-image: url('${STATIC_URL}img/bannerb3-img.png');`)
			.bannerb3_content
				.bannerb3_title
					.title-3.title-blanco.title-icons-1
						span.title-icon.yellow-white
						h2 Proyectos en Venta

	section.proyectsb2
		.proyectsb2_content
			ul
				-for (var i = 0; i < 5; i++)
					li
						a(href="detalle-proyecto.html", class="itemb1")
							.itemb1_texthead
								h3 MIRAFLORES
							figure.itemb1_img_large
								img(src=`${STATIC_URL}img/itemb1-img-large.jpg`, width="396", height="391", alt="")
							.itemb1_info
								.itemb1_wrap
									figure.itemb1_img_small
										img(src=`${STATIC_URL}img/itemb1-img-small.jpg`, width="80", height="80", alt="")
									span.itemb1_tag.yellow ENTREGA 2018
								.itemb1_texts
									.itemb1_box
										figure.itemb1_icon
											img(src=`${STATIC_URL}img/itemb1-icono-lugar.jpg`, width="25", height="25", alt="")
										.itemb1_text
											p Calle Los Negocios 219
									.itemb1_box
										figure.itemb1_icon
											img(src=`${STATIC_URL}img/itemb1-icono-dormitorio.jpg`, width="25", height="25", alt="")
										.itemb1_text
											p 1, 2 y 3 dorms
									.itemb1_box
										figure.itemb1_icon
											img(src=`${STATIC_URL}img/itemb1-icono-medidas.jpg`, width="25", height="25", alt="")
										.itemb1_text
											p desde 45 m²

					li
						a(href="detalle-proyecto.html", class="itemb1")
							.itemb1_texthead
								h3 MIRAFLORES
							figure.itemb1_img_large
								img(src=`${STATIC_URL}img/itemb1-img-large.jpg`, width="396", height="391", alt="")
							.itemb1_info
								.itemb1_wrap
									figure.itemb1_img_small
										img(src=`${STATIC_URL}img/itemb1-img-small.jpg`, width="80", height="80", alt="")
									span.itemb1_tag.black PRE-VENTA
								.itemb1_texts
									.itemb1_box
										figure.itemb1_icon
											img(src=`${STATIC_URL}img/itemb1-icono-lugar.jpg`, width="25", height="25", alt="")
										.itemb1_text
											p Calle Los Negocios 219
									.itemb1_box
										figure.itemb1_icon
											img(src=`${STATIC_URL}img/itemb1-icono-dormitorio.jpg`, width="25", height="25", alt="")
										.itemb1_text
											p 1, 2 y 3 dorms
									.itemb1_box
										figure.itemb1_icon
											img(src=`${STATIC_URL}img/itemb1-icono-medidas.jpg`, width="25", height="25", alt="")
										.itemb1_text
											p desde 45 m²

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})