.bannerb3
	width: 100%
	height: 258px
	background: linear-gradient(to right, rgba(77,77,79,1) 0%, rgba(77,77,79,1) 100%)
	position: relative
	box-sizing: border-box
	padding: 0 20px

.bannerb3_img
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	left: 0

.bannerb3_content
	display: flex
	flex-direction: column
	justify-content: flex-end
	max-width: 1130px
	width: 100%
	height: 100%
	position: relative
	z-index: 2
	box-sizing: border-box
	padding-bottom: 60px
	margin: auto

@media screen and (max-width: 767px)
	.bannerb3
		height: 230px
		padding: 0 15px

	.bannerb3_content
		padding-bottom: 30px