// +++ mensaje +++
// =====> & > * //style a todos los elementos hijos de una caja padre.
// =====> nth-child(2n+2) //style al 2do elemento de cada fila.
// =====> nth-child(-n+2) //style a los dos primeros elementos de todos.
// =====> nth-last-child(-n+2) //style solo a los 2 ultimos elementos.
// =====> se esta usando "margin-top" para el mejor uso de los "nth-child()" dinamico.
// =====> 3 col en responsive se modifica los media query para visualizar a 2 col y/o a 1 col.
// <<< end >>>

.contactb1
	position: relative
	padding: 155px 20px 57px 20px

.contactb1_bg
	width: 100%
	height: 266px
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	left: 0

.contactb1_content
	max-width: 851px
	width: 100%
	position: relative
	z-index: 2
	margin: auto

.contactb1_title
	text-align: center
	margin-bottom: 58px

.contactb1_buttons
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	padding-bottom: 10px
	margin-bottom: 40px

.contactb1_link
	display: flex
	justify-content: center
	align-items: center
	width: calc(50% - 4px)
	height: 45px
	line-height: 45px
	background: $c-1
	color: $blanco
	font-family: $t-2
	font-size: 18px
	text-align: center
	transition: all .25s ease-in-out
	position: relative
	margin: 0
	&:before
		content: ""
		width: 0
		height: 0
		border-style: solid
		border-width: 10px 9px 0 9px
		border-color: $negro transparent transparent transparent
		opacity: 0
		visibility: hidden
		transition: all .25s ease-in-out
		position: absolute
		right: 0
		bottom: -10px
		left: 0
		margin: auto
	&.active
		background: $negro
		&:before
			opacity: 1
			visibility: visible
	@media screen and (min-width: 1025px)
		&:hover
			background: $negro
			&:before
				opacity: 1
				visibility: visible

.contactb1_form
	max-width: 719px
	width: 100%
	margin: auto

.contactb1_text1
	line-height: 25.34px
	color: $c-0
	font-family: $t-0
	font-size: 12px
	margin-bottom: 35px
	strong
		color: $c-1
		font-weight: normal
	p
		margin-bottom: 0

.contactb1_text2
	line-height: 19.34px
	color: $c-0
	font-family: $t-0
	font-size: 14px
	position: relative
	margin-bottom: 40px
	a
		color: $c-1
		text-decoration: underline
	p
		margin-bottom: 0
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		z-index: -1
	input[type="checkbox"]
		&:checked + label:before
			opacity: 0
			visibility: hidden
		&:checked + label:after
			opacity: 1
			visibility: visible
	label
		display: inline-block
		position: relative
		padding-left: 20px
		&:before
			content: "\e907"
			display: block
			width: 14px
			height: 14px
			line-height: 14px
			color: $c-3
			font-family: $icomoon
			font-size: 14px
			text-align: center
			position: absolute
			top: 1px
			left: 0
			opacity: 1
			visibility: visible
			transition: all .25s ease
		&:after
			content: "\e908"
			display: block
			width: 14px
			height: 14px
			line-height: 14px
			color: $c-3
			font-family: $icomoon
			font-size: 14px
			text-align: center
			opacity: 0
			visibility: hidden
			transition: all .25s ease
			position: absolute
			top: 1px
			left: 0

.contactb1_button_send
	button
		display: block
		max-width: 326px
		width: 100%
		border: none
		padding-left: 0
		padding-right: 0
		margin: auto
	.btn_general_text
		width: 100%
		padding-left: 0
		padding-right: 0

// +++ col-1 por default +++
.contactb1_block
	margin-bottom: 15px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		margin-top: 25px
		&:first-child
			margin-top: 0
	li
		width: 100%
		margin: 0
		margin-top: 25px
		&:first-child
			margin-top: 0
	@media screen and (max-width: 767px)
		ul
			margin-top: 20px
		li
			margin-top: 20px
// <<< end >>>

// +++ col-2 +++
.contactb1_col-2
	li
		width: 49%
		margin-right: 2%
	li:nth-child(2n+2)
		margin-right: 0
	li:nth-child(-n+2)
		margin-top: 0
	@media screen and (max-width: 767px)
		li
			width: 100%
			margin-right: 0
		li:nth-child(-n+2)
			margin-top: 20px
		li:first-child
			margin-top: 0
// <<< end >>>

// +++ col-3 +++
.contactb1_col-3
	li
		width: 32%
		margin-right: 2%
	li:nth-child(3n+3)
		margin-right: 0
	li:nth-child(-n+3)
		margin-top: 0
	@media screen and (max-width: 960px)
		li
			width: 49%
			margin-right: 2%
		li:nth-child(-n+3)
			margin-top: 30px
		li:nth-child(-n+2)
			margin-top: 0
		li:nth-child(odd)
			margin-right: 2%
		li:nth-child(even)
			margin-right: 0
	@media screen and (max-width: 767px)
		li
			width: 100%
			margin-right: 0
		li:nth-child(-n+3)
			margin-top: 20px
		li:first-child
			margin-top: 0
		li:nth-child(odd)
			margin-right: 0
// <<< end >>>

// responsive
@media screen and (max-width: 767px)
	.contactb1
		padding-top: 130px
		padding-right: 15px
		padding-bottom: 40px
		padding-left: 15px

	.contactb1_title
		margin-bottom: 40px

	.contactb1_link
		font-size: 14px

@media screen and (max-width: 480px)
	.contactb1_link
		height: auto
		line-height: 1.2
		box-sizing: border-box
		padding: 15px 8px

//Modal
.ctn__politicas
	width: 100%
	height: 100%
	padding: 15px
	box-sizing: border-box
	max-width: 730px
	max-height: 530px
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	
	z-index: 70
	transition: all .3s ease-in-out
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
.ctn__politicas__modal__wrapper
	background: $blanco
	width: 100%
	height: 100%
	position: relative
.ctn__politicas__wrapper
	padding: 30px 15px
	box-sizing: border-box
	height: 100%
.ctn__politicas__wrapper__prin
	height: 100%
	overflow: auto
	width: 100%
	max-width: 585px
	margin: 0 auto
	padding-top: 10px
	padding-right: 20px
	box-sizing: border-box
.ctn__politicas__close
	position: absolute
	width: 15px
	height: 15px
	top: 20px
	right: 20px
	cursor: pointer
	font-size: 15px
	color: $c-3
	z-index: 2
.ctn__politicas__title
	text-align: center
	h3
		font-weight: normal
		color: $c-5
		font-size: 26px
		font-family: $t-3
		margin: 0
.ctn__politicas__parraf
	margin: 35px 0 0 0
	p
		color: $c-0
		font-size: 18px
		font-family: $t-0
		margin: 0 0 15px 0
		&:last-child
			margin: 0
@media screen and (max-width: 767px)
	.ctn__politicas__parraf
		margin-top: 20px
	.ctn__politicas__close
		top: 15px
	.ctn__politicas__title
		h3
			font-size: 20px
	.ctn__politicas__parraf p
		font-size: 15px