body.enviado
	.ctn__env__error__wrapper__img figure
		width: 222px
.ctn__env__error
	padding: 240px 0 130px 0
	box-sizing: border-box
	background: $c-0
.ctn__env__error__wrapper
	max-width: 440px
	margin: 0 auto
.ctn__env__error__wrapper__img
	width: 100%
	img
		max-width: 100%
		display: block
		height: auto
.ctn__env__error__wrapper__info
	text-align: center
	margin: 25px 0 0 0
	h3
		display: inline-block
		position: relative
		font-family: $t-2
		color: $blanco
		font-size: 35px
		padding-left: 22px
		margin: 0
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 12px
			height: 30px
			background: url('../img/img-enviado-2.png') no-repeat
	p 
		margin: 23px 0 45px 0
		font-size: 16px
		font-family: $t-0
		color: $blanco
@media screen and (max-width: 1024px)
	.ctn__env__error
		padding: 125px 0 50px 0
@media screen and (max-width: 767px)
	.ctn__env__error
		padding: 103px 0 30px 0
	.ctn__env__error__wrapper__info
		p 
			margin-bottom: 30px
@media screen and (max-width: 480px)
	.ctn__env__error__wrapper__info h3
		font-size: 28px
