// +++ controls arrows slider +++
.homeb1_controls
	display: flex
	flex-direction: column
	justify-content: flex-end
	max-width: 1030px
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	box-sizing: border-box
	padding: 0 20px 5% 20px
	margin: auto

.homeb1_arrows
	display: block
	width: 119px
	height: 119px
	position: relative
	margin-left: auto
	margin-right: 0

.homeb1_prev,
.homeb1_next
	display: block
	width: 60px
	height: 60px
	position: absolute
	a
		display: block
		width: 58px
		height: 58px
		border: 1px solid $blanco
		position: relative
		z-index: 70
	a:before
		content: ""
		display: block
		width: 58px
		height: 58px
		line-height: 58px
		color: $blanco
		font-family: $icomoon
		font-size: 28px
		text-align: center

.homeb1_prev
	bottom: 0
	left: 0
	a:before
		content: "\e90d"
		transform: rotate(180deg)

.homeb1_next
	top: 0
	right: 0
	a:before
		content: "\e90d"
// <<< end >>>

.homeb1_slider
	background: $c-0
	position: relative
	ul
		z-index: 2

.homeb1_item
	width: 100%
	height: 100vh
	&.active
		.homeb1_banner
			opacity: 1
			transition: all .25s ease-in-out
		.homeb1_img
			left: 0
			transform: scale(1)
		.homeb1_textarea
			opacity: 1
			visibility: visible
			top: 0
			transition: all .3s cubic-bezier(0.4, 0, 0.2, 1)

.homeb1_block
	width: 100%
	height: 100%
	background: $c-0
	overflow: hidden

.homeb1_banner
	width: 100%
	height: 100%
	opacity: 0
	position: relative

.homeb1_img
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	transform: scale(.8)
	transition: left .3s cubic-bezier(0.4, 0, 0.2, 1) .3s, transform .5s cubic-bezier(0.4, 0, 0.2, 1) 0.6s
	position: absolute
	top: 0
	left: 100%
	&:before
		content: ""
		width: 100%
		height: 100%
		background: $c-5
		opacity: .6
		position: absolute
		top: 0
		left: 0

.homeb1_textarea
	display: flex
	flex-direction: column
	justify-content: center
	width: 100%
	height: 100%
	opacity: 0
	visibility: hidden
	position: absolute
	top: 50%
	left: 0
	box-sizing: border-box
	padding: 85px 20px 0 20px
	z-index: 2

.homeb1_wrap
	max-width: 960px
	width: 100%
	margin: 0 auto 0 auto

.homeb1_text1
	margin-bottom: 5px
	h2
		line-height: 21.6px
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 18px
		margin-bottom: 0

.homeb1_text2
	margin-bottom: 30px
	h1
		line-height: 60px
		color: $blanco
		font-family: $t-2
		font-weight: normal
		font-size: 60px
		margin-bottom: 0

.homeb1_button
	a
		background: transparent

@media screen and (max-width: 1460px)
	.homeb1_text2
		h1
			line-height: 50px
			font-size: 50px

@media screen and (max-width: 960px)
	// +++ controls arrows slider +++
	.homeb1_controls
		padding-bottom: 3%

	.homeb1_arrows
		width: 99px
		height: 99px

	.homeb1_prev,
	.homeb1_next
		width: 50px
		height: 50px
		a
			width: 48px
			height: 48px
		a:before
			width: 48px
			height: 48px
			line-height: 48px
	// <<< end >>>

	.homeb1_item
		height: 500px

	.homeb1_text2
		h1
			line-height: 36px
			font-size: 36px

@media screen and (max-width: 767px)
	// +++ controls arrows slider +++
	.homeb1_controls
		padding-left: 15px
		padding-right: 15px

	.homeb1_arrows
		width: 79px
		height: 79px

	.homeb1_prev,
	.homeb1_next
		width: 40px
		height: 40px
		a
			width: 38px
			height: 38px
		a:before
			width: 38px
			height: 38px
			line-height: 38px
	// <<< end >>>

	.homeb1_text2
		h1
			line-height: 1.2
			font-size: 32px

	.homeb1_textarea
		padding-left: 15px
		padding-right: 15px