.homeb3.active
	.homeb3_head_text
		opacity: 1
		visibility: visible
		left: 0


.homeb3_content
	display: flex
	flex-direction: row
	flex-wrap: wrap

.homeb3_content_left
	width: 55%
	min-height: 580px
	background: $c-0
	position: relative
	&:after
		content: ""
		width: 335px
		height: 100%
		background: $blanco
		position: absolute
		top: 0
		right: 0

.homeb3_content_right
	width: 45%
	box-sizing: border-box
	padding-top: 90px
	padding-right: 20px
	padding-bottom: 50px

.homeb3_head
	max-width: 613px
	width: 100%
	height: 100%
	transform: translateY(-50%)
	position: absolute
	top: 50%
	right: 0
	z-index: 2
	margin-left: auto
	margin-right: -34px

.homeb3_head_text
	display: block
	width: 78.3%
	line-height: 77.04px
	letter-spacing: -3.56px
	overflow-wrap: break-word
	color: $c-0
	font-family: $t-3
	font-size: 89px
	text-align: right
	position: absolute
	top: 25%
	left: 0
	box-sizing: border-box
	padding-left: 26%
	@media screen and (min-width: 1025px)
		opacity: 0
		visibility: hidden
		transition: all .4s ease-in-out
		left: -50px

.homeb3_head_img
	width: 100%
	transform: translateY(-50%)
	position: absolute
	top: 50%
	left: 0
	z-index: 2
	box-sizing: border-box
	padding-left: 33px
	margin-left: auto
	margin-right: 0
	img
		display: block
		width: 100%
		height: auto

.homeb3_head_figuras
	width: 30.98%
	position: absolute
	top: 50%
	left: 0
	transform: translateY(-50%)
	img
		display: block
		width: 100%
		height: auto

.homeb3_wrap
	max-width: 702px
	width: 100%
	margin: 0

.homeb3_title
	text-align: center
	margin-bottom: 65px

.homeb3_boxes
	display: flex
	flex-direction: row
	flex-wrap: wrap

.homeb3_box
	width: 33.333333333333336%
	text-align: center
	border-right: 1px solid #e6e6e6
	box-sizing: border-box
	padding: 25px 4% 40px 4%
	&:last-child
		border-right: none

.homeb3_group
	font-size: 0

.homeb3_simbolo
	display: inline-block
	vertical-align: middle
	line-height: 1
	color: $c-0
	font-family: $t-3
	font-size: 45px
	margin: 0

.homeb3_number
	display: inline-block
	vertical-align: middle
	height: 60px
	position: relative
	margin: 0
	&:before
		content: ""
		display: block
		width: 0
		height: 0
		border-style: solid
		border-width: 30px 0 30px 53px
		border-color: transparent transparent transparent $c-1
		position: absolute
		top: 50%
		left: 2px
		margin-top: -30px

.homeb3_number_text
	display: block	
	line-height: 60px
	letter-spacing: 1.13px
	color: $c-0
	font-family: $t-3
	font-size: 45px
	position: relative
	z-index: 2

.homeb3_text
	line-height: 20px
	letter-spacing: .38px
	color: $c-0
	font-family: $t-0
	font-size: 15px
	margin-top: 10px
	p
		margin-bottom: 0

.homeb3_button
	text-align: center
	margin-top: 45px

@media screen and (max-width: 1460px)
	.homeb3_content_left
		width: 52%

	.homeb3_content_right
		width: 48%

	.homeb3_box
		padding-left: 2%
		padding-right: 2%

@media screen and (max-width: 1200px)
	.homeb3_content_left
		width: 42%
		min-height: 492px
		&:after
			width: 250px

	.homeb3_content_right
		width: 58%
		padding: 50px 20px 50px 0

	.homeb3_head
		max-width: 400px
		margin-right: 0

	.homeb3_head_text
		width: 315px
		line-height: 50.04px
		font-size: 60px
		top: 33%

	.homeb3_head_img
		padding-left: 20px
		padding-right: 20px

@media screen and (max-width: 1024px)
	.homeb3_number
		&:before
			border-width: 25px 0 25px 43px
			margin-top: -25px

	.homeb3_number_text, .homeb3_simbolo
		font-size: 36px

@media screen and (max-width: 960px)
	.homeb3_content_left
		width: 300px
		min-height: 484px
		&:after
			width: 185px

	.homeb3_content_right
		width: calc(100% - 300px)

	.homeb3_head_text
		width: 240px
		line-height: 40.04px
		font-size: 50px


	.homeb3_head_img
		padding-left: 15px
		padding-right: 15px

	.homeb3_head_figuras
		width: 90px
		left: 10px

	.homeb3_title
		margin-bottom: 40px

	.homeb3_text
		line-height: 19px
		font-size: 14px

@media screen and (max-width: 767px)
	.homeb3_content
		flex-direction: column

	.homeb3_content_left
		display: none
		width: 100%
		min-height: inherit

	.homeb3_content_right
		width: 100%
		padding: 40px 15px

	.homeb3_wrap
		max-width: none

	.homeb3_boxes
		flex-direction: column

	.homeb3_box
		width: 100%
		border-right: none
		border-bottom: 1px solid #e6e6e6
		padding: 15px 0
		&:first-child
			padding-top: 0
		&:last-child
			border-bottom: none

	.homeb3_number
		&:before
			border-width: 20px 0 20px 33px
			margin-top: -20px

	.homeb3_number_text, .homeb3_simbolo
		font-size: 26px

	.homeb3_button
		margin-top: 40px