.homeb6
	min-height: 450px
	box-sizing: border-box
	background: linear-gradient(to right, rgba(91,91,93,1) 0%, rgba(91,91,93,1) 1%, rgba(77,77,79,1) 100%)
	padding: 0 20px 79px 20px

.homeb6_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	max-width: 1145px
	width: 100%
	margin: auto

.homeb6_content_left
	width: 34.93%
	box-sizing: border-box
	padding-top: 90px
	padding-right: 30px

.homeb6_content_right
	width: 65.07%
	box-sizing: border-box
	padding-top: 135px

.homeb6_head
	max-width: 280px
	width: 100%
	margin: 0

.homeb6_head_title
	margin-bottom: 72px

.homeb6_block
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

.homeb6_box
	width: 290px

.homeb6_text1
	margin-bottom: 12px
	h3
		line-height: 28px
		color: $blanco
		font-family: $t-1
		font-size: 22px
		margin-bottom: 0

.homeb6_text2
	line-height: 28px
	color: rgba(255,255,255,.8)
	font-family: $t-0
	font-size: 18px
	p
		margin-bottom: 0

@media screen and (max-width: 1024px)
	.homeb6
		min-height: 324px
		padding-bottom: 50px

	.homeb6_content_left
		width: 280px
		padding-top: 50px

	.homeb6_content_right
		width: calc(100% - 280px)
		padding-top: 80px

	.homeb6_text1
		h3
			line-height: 26px
			font-size: 20px

	.homeb6_text2
		line-height: 26px
		font-size: 16px

@media screen and (max-width: 960px)
	.homeb6
		min-height: inherit
		padding-top: 50px

	.homeb6_content
		flex-direction: column

	.homeb6_content_left
		width: 100%
		padding-top: 0
		padding-right: 0
		margin-bottom: 50px

	.homeb6_content_right
		width: 100%
		padding-top: 0

	.homeb6_head_title
		margin-bottom: 40px

	.homeb6_box
		width: 45%

@media screen and (max-width: 767px)
	.homeb6
		padding: 40px 15px

	.homeb6_head
		max-width: none

	.homeb6_text1
		h3
			line-height: 24px
			font-size: 18px

	.homeb6_text2
		line-height: 25px
		font-size: 15px

@media screen and (max-width: 480px)
	.homeb6_box
		width: 100%
		margin-bottom: 40px
		&:last-child
			margin-bottom: 0