.homeb5
	padding: 0 20px
	overflow: hidden

.homeb5_content
	max-width: 1209px
	width: 100%
	position: relative
	box-sizing: border-box
	padding-top: 65px
	padding-bottom: 70px
	margin: auto

.homeb5_img_abs
	width: 270px
	position: absolute
	top: 0
	right: -44px
	img
		display: block
		width: 100%
		height: auto

.homeb5_title
	padding-left: 32px
	margin-bottom: 50px

.homeb5_slider
	position: relative
	z-index: 2
	li
		padding: 0 22px

.homeb5_box
	max-width: 359px
	width: 100%
	box-sizing: border-box
	padding: 0px 10px 10px 10px

.homeb5_wrap
	background: $blanco
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .1)
	padding: 10.5px 10.5px 25px 10.5px
	margin: 0

.homeb5_img
	width: 100%
	img
		display: block
		width: 100%
		height: auto

.homeb5_redes
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.homeb5_group
	margin: 20px 20px 0 20px

.homeb5_icon, .homeb5_text
	display: inline-block
	vertical-align: middle
	line-height: 1

.homeb5_icon
	color: $negro
	font-size: 21px
	margin-right: 8px

.homeb5_text
	color: $c-0
	font-family: $t-0
	font-size: 20px

@media screen and (max-width: 1200px)
	.homeb5
		padding: 50px 20px

	.homeb5_content
		padding: 0

	.homeb5_img_abs
		display: none

	.homeb5_title
		padding-left: 20px

	.homeb5_slider
		li
			padding: 0 10px

	.homeb5_group
		margin: 15px 15px 0 15px

@media screen and (max-width: 1024px)
	.homeb5_title
		padding-left: 10px

	.homeb5_slider
		li
			padding: 0 5px

	.homeb5_group
		margin: 10px 10px 0 10px

	.homeb5_text
		font-size: 16px

@media screen and (max-width: 767px)
	.homeb5
		padding: 40px 15px

	.homeb5_title
		margin-bottom: 40px

@media screen and (max-width: 480px)
	.homeb5_box
		max-width: none