.homeb4
	.bx-wrapper .bx-pager
		max-width: 568px
		width: 100%
		text-align: left
		bottom: 20px
		padding-top: 0
		margin: 0
		z-index: 70
	.bx-wrapper .bx-pager.bx-default-pager a
		width: 13px
		height: 13px
		background: transparent
		border: 1px solid $c-5
		border-radius: 50%
		transition: all .25s ease-in-out
		box-sizing: border-box
		&.active
			background: $c-5
		@media screen and (min-width: 1025px)
			&:hover
				background: $c-5

.homeb4_content
	display: flex
	flex-direction: row
	flex-wrap: wrap

.homeb4_content_left
	width: 50%
	background: $c-4

.homeb4_content_right
	width: 50%
	min-height: 510px

.homeb4_img
	width: 100%
	height: 100%
	background-position: left center
	background-repeat: no-repeat
	background-size: cover

.homeb4_slider
	max-width: 568px
	width: 100%
	height: 510px
	overflow: hidden
	position: relative
	left: 48px
	margin-left: auto
	li
		height: 510px

.homeb4_text
	line-height: 36px
	color: $negro
	font-family: $t-0
	font-size: 22px
	margin-bottom: 85px
	p
		margin-bottom: 0

.homeb4_title
	margin-bottom: 10px
	h2
		color: $c-5
		font-family: $t-2
		font-weight: normal
		font-size: 20px
		margin-bottom: 0

.homeb4_subtitle
	h3
		color: $negro
		font-family: $t-0
		font-size: 15px
		margin-bottom: 0

.homeb4_info
	display: flex
	flex-direction: column
	justify-content: center
	height: 100%
	position: relative

.homeb4_wrap
	max-width: 390px
	width: 100%
	margin-left: 0
	margin-right: auto

// +++ style icono play video +++
.homeb4_video
	display: block
	width: 96px
	height: 96px
	position: absolute
	top: 0
	bottom: 0
	right: 0
	margin: auto

.homeb4_video_icon
	display: block
	width: 48px
	height: 48px
	background: $c-1
	border-radius: 50%
	position: relative
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 3
	margin: auto
	&:before
		content: "\e919"
		display: inline-block
		color: $blanco
		font-family: $icomoon
		font-size: 15px
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%,-50%,0)

.homeb4_circles
	display: block
	width: 48px
	height: 48px
	border-radius: 50%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	& > *
		width: 48px
		height: 48px
		background: $c-1
		border-radius: 50%
		transform: scale(1)
		position: absolute
		top: 0
		left: 0
		z-index: 2
		opacity: .25

.homeb4Animation
	.c1
		animation: 2000ms scaleToggleOne cubic-bezier(0.25,0.46,0.45,0.94) forwards
	.c2
		animation: 2500ms scaleToggleTwo cubic-bezier(0.25,0.46,0.45,0.94) forwards
	.c3
		animation: 3000ms scaleToggleThree cubic-bezier(0.25,0.46,0.45,0.94) forwards

+keyframes(scaleToggleOne)
	0%
		transform: scale(1)
	50%
		transform: scale(2)
	100%
		transform: scale(1)

+keyframes(scaleToggleTwo)
	0%
		transform: scale(1)
	20%
		transform: scale(1)
	60%
		transform: scale(2)
	100%
		transform: scale(1)

+keyframes(scaleToggleThree)
	0%
		transform: scale(1)
	33%
		transform: scale(1)
	66%
		transform: scale(2)
	100%
		transform: scale(1)
// <<< end >>>

@media screen and (max-width: 960px)
	.homeb4
		.bx-wrapper .bx-pager
			max-width: none
			padding-left: 15px

	.homeb4_content_right
		min-height: 350px

	.homeb4_slider
		max-width: none
		width: calc(100% + 48px)
		height: 350px
		left: 0
		li
			height: 350px

	.homeb4_info
		box-sizing: border-box
		padding-right: 48px

	.homeb4_wrap
		max-width: none
		width: 100%
		box-sizing: border-box
		padding-left: 15px
		padding-right: 48px

	.homeb4_text
		line-height: 1.4
		font-size: 18px
		margin-bottom: 40px

@media screen and (max-width: 767px)
	.homeb4
		.bx-wrapper .bx-pager
			text-align: center
			padding-left: 0

	.homeb4_content_left
		width: 100%

	.homeb4_content_right
		display: none

	.homeb4_slider
		width: 100%
		height: auto
		li
			height: auto

	.homeb4_info
		text-align: center
		box-sizing: border-box
		padding: 40px 15px 60px 15px
	
	.homeb4_wrap
		padding-left: 0
		padding-right: 0

	.homeb4_video
		position: relative
		top: inherit
		right: inherit
		bottom: inherit
		margin: 30px auto 0 auto