// +++ controls arrows slider +++
.homeb2_controls
	display: flex
	flex-direction: row
	.slick-arrow
		display: block
		width: 50px
		height: 50px
		cursor: pointer
		position: relative
		top: inherit
		left: inherit
		right: inherit
		margin: 0
		margin-top: 100px
		&:before
			content: "\e912"
			display: block
			width: 48px
			height: 48px
			line-height: 48px
			color: $c-0
			font-family: $icomoon
			font-size: 28px
			text-align: center
			border: 1px solid $c-0
		&:first-child
			margin-right: -1px
			&:before
				border-left: none
				transform: rotate(-180deg)
	.slick-arrow.slick-hidden
		display: none
// <<< end >>>

.homeb2
	background: $c-1

.homeb2_content
	display: flex
	flex-direction: row
	flex-wrap: wrap

.homeb2_content_left
	display: flex
	flex-direction: column
	justify-content: center
	width: 25%

.homeb2_content_right
	width: 75%
	overflow: hidden

.homeb2_head
	max-width: 400px
	width: 100%
	box-sizing: border-box
	padding-left: 14%
	padding-right: 21%
	margin-left: auto
	margin-right: 0

.homeb2_slider
	position: relative
	left: 3px
	li
		width: 33.333333333333336%
		box-sizing: border-box
		padding: 0 3px

.homeb2_foot
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	padding: 12px 0

.homeb2_logos
	margin: 0 35px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
	li
		margin: 0 20px 0 0
		&:last-child
			margin-right: 0

.homeb2_logos_img
	max-width: 86px
	width: 100%
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.homeb2_button
	margin: 8px 35px

.homeb2_button_link
	display: inline-block
	vertical-align: middle
	line-height: 1
	color: $c-5
	font-family: $t-1
	font-size: 14px
	position: relative
	padding-right: 25px
	span
		display: inline-block
		vertical-align: middle
		line-height: 1
		color: $c-5
		font-size: 15px
		position: absolute
		top: -1px
		right: 0
	@media screen and (min-width: 1025px)
		&:hover
			span
				animation: homeb2_animation_arrow 1s ease-in-out

+keyframes(homeb2_animation_arrow)
	16.65%
		transform: translateX(8px)
	33.3%
		transform: translateX(-6px)
	49.95%
		transform: translateX(4px)
	66.6%
		transform: translateX(-2px)
	83.25%
		transform: translateX(1px)
	100% 
		transform: translateX(0)

// responsive
@media screen and (max-width: 1460px)
	.homeb2_head
		padding-left: 20px
		padding-right: 30px

@media screen and (max-width: 1024px)
	// +++ controls arrows slider +++
	.homeb2_controls
		.slick-arrow
			margin-top: 50px
	// <<< end >>>

	.homeb2_content_left
		width: 230px

	.homeb2_content_right
		width: calc(100% - 230px)

@media screen and (max-width: 960px)
	.homeb2_logos
		width: 100%
		margin: 0
		ul
			justify-content: center
		li
			margin: 0px 8px 10px 8px
			&:last-child
				margin-right: 10px

@media screen and (max-width: 767px)
	// +++ controls arrows slider +++
	.homeb2_controls
		.slick-arrow
			display: block
			width: 40px
			height: 40px
			cursor: pointer
			position: relative
			top: inherit
			left: inherit
			right: inherit
			margin: 0
			margin-top: 40px
			&:before
				width: 38px
				height: 38px
				line-height: 38px
	// <<< end >>>

	.homeb2
		padding: 40px 15px 40px 15px

	.homeb2_content
		flex-direction: column

	.homeb2_content_left
		width: 100%
		margin-bottom: 50px

	.homeb2_content_right
		width: 100%

	.homeb2_head
		max-width: none
		padding: 0

	.homeb2_slider
		left: inherit

	.homeb2_foot
		padding-top: 0
		padding-bottom: 0
		margin-top: 40px

	.homeb2_button
		margin-top: 0
		margin-bottom: 0