.investorsb3
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 195px
		background-image: url('../img/inversiones-img-footer.png')

.investorsb3__container
	max-width: 1150px
	width: 100%
	padding: 70px 20px
	box-sizing: border-box
	margin: auto

.investorsb3__title
	text-align: center
	padding-bottom: 55px

.investorsb3__planes__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding: 35px 0px

.investorsb3__planes__title
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	width: 23%

.investorsb3__title__image
	max-width: 50px
	width: 100%

.investorsb3__title__text
	padding-left: 15px
	h3
		font-family: $t-2
		font-size: 25px
		color: $c-5
		margin-bottom: 0

.investorsb3__text
	width: 72%
	padding-left: 5%
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: justify
	p
		margin-bottom: 0

@media screen and (max-width: 1100px)
	.investorsb3__planes__title
		width: 25%

	.investorsb3__text
		width: 70%

@media screen and (max-width: 990px)
	.investorsb3__planes__title
		width: 35%

	.investorsb3__text
		width: 60%

	.investorsb3__planes__box
		padding: 25px 0px

	.investorsb3__text
		font-size: 16px

	.investorsb3__title__text h3
		font-size: 23px

@media screen and (max-width: 720px)
	.investorsb3__planes__title
		width: 100%
		padding-bottom: 20px

	.investorsb3__text
		width: 100%
		padding-left: 0

	.investorsb3__title
		padding-bottom: 30px

	.investorsb3__text
		font-size: 14px

	.investorsb3__title__text h3
		font-size: 22px

	.investorsb3__title__image
		max-width: 40px

	.investorsb3__container
		padding: 40px 15px

	.investorsb3
		&:before
			height: 160px

@media screen and (max-width: 390px)
	.investorsb3__text
		font-size: 13px