.investorsb2__container
	background-color: $c-4

.investorsb2__content
	max-width: 1090px
	width: 100%
	padding: 80px 20px
	box-sizing: border-box
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.investorsb2__title
	width: 30%

.investorsb2__items
	width: 70%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.investorsb2__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding: 0 3%

.investorsb2__box__icon
	width: 32px
	height: 0
	border-style: solid
	border-width: 39px 0 39px 78px
	border-color: transparent transparent transparent $c-1
	position: relative

.investorsb2__icon
	max-width: 32px
	width: 100%
	position: absolute
	left: -70px
	bottom: -20px

.investorsb2__box__text
	max-width: 118px
	font-family: $t-0
	font-size: 18px
	color: $c-5
	p
		margin-bottom: 0


@media screen and (max-width: 1024px)
	.investorsb2__content
		padding: 60px 20px

	.investorsb2__title
		width: 25%

	.investorsb2__items
		width: 75%

	.investorsb2__box__text
		font-size: 16px
		max-width: 110px

@media screen and (max-width: 990px)
	.investorsb2__title
		width: 100%
		text-align: center
		padding-bottom: 40px

	.investorsb2__items
		width: 100%

	.investorsb2__box
		margin: auto

	.investorsb2__content
		padding: 45px 20px

@media screen and (max-width: 767px)
	.investorsb2__box
		width: 44%
		margin: 0
		padding: 15px 10px

	.investorsb2__content
		padding: 40px 15px

@media screen and (max-width: 540px)
	.investorsb2__box
		width: 100%

@media screen and (max-width: 390px)
	.investorsb2__box
		padding 15px 0px

	.investorsb2__title
		padding-bottom: 30px
