// BANNER

.inversioanistas__banner__container
	height: 256px
	background-color: $c-0

.inversionistas__banner__background
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-position: bottom center
	background-size: cover

.inversionistas__banner__content
	max-width: 1170px
	width: 100%
	padding: 70px 20px
	box-sizing: border-box
	margin: auto
	display: flex
	align-items: flex-end
	height: 100%

.inversionistas__banner__title
	display: inline-block
	padding-left: 10px
	h2
		font-family: $t-2
		font-size: 40px
		color: $blanco
		margin-bottom: 0

.inversionistas__banner__icon
	width: 15px
	margin: 0

//INVERSIONITAS B1
.investorb1__container
	display: flex
	flex-drection: row
	flex-wrap: wrap
	justify-content: flex-start

.investorsb1__img__box
	width: 37%
	position: relative

.investorsb1__img__content
	width: 60%
	height: 100%
	background-color: $c-1
	position: relative

.investorsb1__img__figuras
	width: 100%
	height: 80%
	background-repeat: no-repeat
	background-position: top right
	position: absolute
	bottom: 0
	left: 0

.investorsb1__img
	max-width: 540px
	position: absolute
	bottom: 0
	right: 0
	margin-bottom: -3px

.investorsb1__items
	width: 63%

.investorsb1__items__container
	max-width: 790px
	width: 100%
	padding: 75px 20px
	box-sizing: border-box
	margin: auto
	margin-left: 0

.investorsb1__items__title
	text-align: center
	padding-bottom: 40px
	h3
		font-family: $t-3
		font-size: 38px
		color: $c-5
		margin-bottom: 0

.investorsb1__items__content
	display: flex
	flex-drection: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.investorsb1__items__box
	width: 45%
	padding-right: 10%
	text-align: center
	padding-bottom: 32px
	&:nth-child(even)
		padding-right: 0

.investorsb1__items__icon
	max-width: 50px
	width: 100%
	margin: auto
	padding-bottom: 18px

.investorsb1__items__text
	font-family: $t-2
	font-size: 16px
	color: $c-5
	padding-bottom: 16px
	p
		margin-bottom: 0

.investorsb1__items__info
	font-family: $t-0
	font-size: 15px
	color: $c-0
	p
		margin-bottom: 0
		line-height: 1.6

@media screen and (max-width: 1200px)
	.investorsb1__items__title h3
		font-size: 34px

	.investorsb1__items__container
		padding: 55px 20px

@media screen and (max-width: 1100px)
	.investorsb1__img__box
		width: 40%

	.investorsb1__items
		width: 60%

	.investorsb1__items__container
		padding: 50px 20px

	.investorsb1__items__title
		padding-bottom: 30px

	.investorsb1__items__text
		font-size: 16px

	.investorsb1__items__info
		font-size: 13px
	
	.investorsb1__items__title h3
		font-size: 32px

@media screen and (max-width: 990px)
	.investorsb1__img__box
		display: none

	.investorsb1__items
		width: 100%

	.investorsb1__items__container
		margin-left: auto

@media screen and (max-width: 767px)
	.investorsb1__items__title 
		padding-bottom: 40px
		h3
			font-size: 30px

	.investorsb1__items__box
		width: 46%
		padding-right: 8%

	.investorsb1__items__container
		padding: 50px 15px

@media screen and (max-width: 500px)
	.investorsb1__items__box
		width: 100%
		padding: 20px
		&:nth-child(even)
			padding-right: 20px

	.investorsb1__items__title h3
		font-size: 28px

@media screen and (max-width: 390px)
	.investorsb1__items__box
		padding: 20px 0px

