.itemb3
	position: relative
	input[type="radio"]
		opacity: 0
		visibility: hidden		
		position: absolute
		top: 0
		left: 0
		z-index: -1
		&:checked + label
			.itemb3_block
				border: 1px solid $c-1
			.itemb3_circle
				background: $c-1
				border: 1px solid $c-1
			.itemb3_circle:after
				opacity: 1
				visibility: visible

.itemb3_block
	display: block
	background: $blanco
	border: 1px solid #e6e6e6
	border-radius: 2px
	transition: all .2s ease-in-out
	position: relative
	img
		display: block
		width: 100%
		height: auto

.itemb3_circle
	display: block
	width: 16px
	height: 16px
	background: $blanco
	border: 2px solid $c-5
	border-radius: 50%
	position: absolute
	top: 22px
	right: 26px
	box-sizing: border-box
	&:after
		content: ""
		display: block
		width: 12px
		height: 12px
		border: 2px solid $blanco
		border-radius: 50%
		opacity: 0
		visibility: hidden
		transition: all .2s ease-in-out
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		box-sizing: border-box
		margin: auto


.itemb3_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	padding: 27px 18px

.itemb3_content_left
	width: 158px

.itemb3_content_right
	width: calc(100% - 158px)
	box-sizing: border-box
	padding-left: 25px

.itemb3_wrap
	position: relative

.itemb3_texthead
	display: inline-block
	position: absolute
	top: 0
	left: 0
	padding-right: 15px
	h3
		line-height: 24px
		background: $negro
		color: $blanco
		font-family: $t-1
		font-size: 12px
		position: relative
		padding-left: 10px
		padding-right: 5px
		margin-bottom: 0
		&:after
			content: ""
			width: 0
			height: 0
			border-style: solid
			border-width: 24px 15px 0 0
			border-color: $negro transparent transparent transparent
			position: absolute
			top: 0
			right: -15px

.itemb3_link
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	width: 100%
	height: 30px
	background: $c-1

.itemb3_link_text
	display: block
	line-height: 1
	color: $c-5
	font-family: $t-1
	font-size: 10px
	margin: 0

.itemb3_link_icon
	display: block
	width: 10px
	height: 10px
	line-height: 10px
	color: $c-5
	font-size: 6px
	text-align: center
	margin: 0
	margin-left: 5px

.itemb3_tag
	display: inline-block
	height: 25px
	line-height: 25px
	font-family: $t-1
	font-size: 11px
	padding: 0 15px
	margin: 0
	&.yellow
		background: $c-1
		color: $c-5
	&.black
		background: $negro
		color: $blanco

.itemb3_img_small
	max-width: 60px
	width: 100%
	padding: 5px 0
	margin: 0

.itemb3_box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	margin-bottom: 10px
	&:last-child
		margin-bottom: 0

.itemb3_icon
	width: 16px
	margin: 0

.itemb3_text
	width: calc(100% - 16px)
	line-height: 1.2
	color: $c-5
	font-family: $t-0
	font-size: 13px
	box-sizing: border-box
	padding-left: 7px
	p
		margin-bottom: 0