.itemb1
	display: block
	background: $blanco
	position: relative
	img
		display: block
		width: 100%
		height: auto
	@media screen and (min-width: 1025px)
		&:hover
			.itemb1_img_large
				img
					transform: scale(1.02) rotate(0.01deg)

.itemb1_texthead
	display: inline-block
	position: absolute
	top: 2.5%
	left: 5%
	z-index: 2
	padding-right: 20px
	h3
		line-height: 33px
		background: $negro
		color: $blanco
		font-family: $t-1
		font-size: 16px
		position: relative
		padding-left: 22px
		padding-right: 11px
		margin-bottom: 0
		&:after
			content: ""
			width: 0
			height: 0
			border-style: solid
			border-width: 33px 20px 0 0
			border-color: $negro transparent transparent transparent
			position: absolute
			top: 0
			right: -20px

.itemb1_img_large
	overflow: hidden
	img
		transform: scale(1) rotate(0deg)
		transition: all 2s

.itemb1_info
	padding: 0 10%
	@media screen and (max-width: 1460px)
		padding: 0 5%

.itemb1_wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	border-bottom: 1px solid #e6e6e6
	padding: 5px 0

.itemb1_img_small
	max-width: 80px
	width: 100%
	margin: 0

.itemb1_tag
	display: inline-block
	height: 30px
	line-height: 30px
	font-family: $t-1
	font-size: 13px
	padding: 0 20px
	margin: 0
	&.yellow
		background: $c-1
		color: $c-5
	&.black
		background: $negro
		color: $blanco

.itemb1_texts
	min-height: 156px
	box-sizing: border-box
	padding-top: 22px
	padding-bottom: 29px

.itemb1_box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	margin-bottom: 15px
	&:last-child
		margin-bottom: 0

.itemb1_icon
	width: 25px
	margin: 0

.itemb1_text
	width: calc(100% - 25px)
	line-height: 1.2
	color: $c-5
	font-family: $t-0
	font-size: 18px
	box-sizing: border-box
	padding-left: 20px
	p
		margin-bottom: 0
	@media screen and (max-width: 960px)
		font-size: 15px
	@media screen and (max-width: 767px)
		font-size: 14px