.proyectb5
	background-color: $c-1
	width: 100%
	padding: 50px 0 30px 0
	box-sizing: border-box
.proyectb5__container
	max-width: 1140px
	width: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto 
.proyectb5__container__wrapper
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin: 60px 0 0 0
.proyectb5__content
	width: 100%
	margin: 0
	img
		max-width: 100%
		display: block
		height: auto
.proyectb5__slider__nav
	margin: 25px 0 0 0
	padding: 0 15px
	box-sizing: border-box
	.slick-slide
		margin-right: 10px
	.slick-current figure
		border: 2px solid $blanco
	.slick-prev, .slick-next
		width: 18px
		height: 24px
		&:before
			font-family: icomoon
			content: "\e607"
			color: $c-5
			font-size: 20px
			opacity: 1
	.slick-next:before
		content: "\e606"
.proyectb5__slider__nav__item
	figure
		padding: 5px
		box-sizing: border-box
.proyectb5__ctn__slider
	width: calc(100% - 570px)
.proyectb5__ctn__info
	width: 455px
	margin: 10px 0 0 0
.proyectb5__ctn__info__wrapper
	background: $blanco
	padding: 30px 65px
	box-sizing: border-box
	position: relative
.proyectb5__ctn__info__wrapper__prin__sec
	position: relative
.proyectb5__ctn__info__wrapper__prin
	position: absolute
	width: 100%
	transition: all .3s ease-in-out
	opacity: 0
	top: 0
	left: 0
	visibility: hidden
	z-index: -1
	&.active
		opacity: 1
		visibility: visible
		z-index: 2
		position: relative
.proyectb5__ctn__info__title
	border-bottom: 1px solid $c-4
	padding-bottom: 23px
	h3, h4
		margin: 0
		font-weight: normal
		font-family: $t-3
	h3
		color: $c-5
		font-size: 20px
	h4
		color: $c-1
		font-size: 40px
		margin: 4px 0
	p 
		margin: 0
		font-family: $t-2
		font-size: 13px
		color: $c-5
.proyectb5__ctn__info__lists
	margin: 25px 0 0 0
	ul
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin: 0 0 20px 0
		&:last-child
			margin: 0
	li
		margin: 0
		&.area
			width: 60%
			font-size: 15px
			color: $c-0
			font-family: $t-0
			max-width: 165px
			line-height: 1.4
		&.zona
			width: 30%
			color: $c-5
			font-family: $t-2
			font-size: 17px
			max-width: 80px

@media screen and (max-width: 960px)
	.proyectb5__ctn__slider
		width: 100%
		order: 2
	.proyectb5__ctn__info
		width: 100%
		margin: 0 auto 20px auto
		max-width: 455px
		order: 1
	.proyectb5__content
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	.proyectb5__slider
		width: calc(100% - 160px)
	.proyectb5__slider__nav
		width: 120px
		padding: 20px 0
		.slick-slide
			margin-top: 10px
		.slick-next, .slick-prev
			left: 0
			right: 0
			margin: auto
			transform: translate(0)
		.slick-next
			bottom: -70px
			&:before
				content: "\e608"
		.slick-prev
			top: -10px
			&:before
				content: "\e609"
@media screen and (max-width: 767px)
	.proyectb5
		padding: 30px 0
	.proyectb5__container
		padding: 0 15px
	.proyectb5__slider
		width: 100%
	.proyectb5__slider__nav
		width: 100%
		.slick-slide
			margin-top: 0
			margin-right: 10px
	.proyectb5__container__wrapper
		margin: 30px 0 0 0
	.proyectb5__ctn__info__wrapper
		padding: 30px 
