.proyectb6_content
	position: relative

.proyectb6_block
	display: block
	position: relative	
	@media screen and (min-width: 1025px)
		overflow: hidden
		&:hover
			.proyectb6_bg_img
				transform: scale(1) rotate(0deg)

.proyectb6_bg_img
	width: 100%
	height: 600px
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	&:before
		content: ""
		width: 100%
		height: 100%
		background: $negro
		opacity: .5
		position: absolute
		top: 0
		left: 0
	@media screen and (min-width: 1025px)
		transform: scale(1.05) rotate(0.01deg)
		transition: transform 4s ease-in, -webkit-transform 4s ease-in

.proyectb6_logo
	max-width: 100px
	width: 100%
	margin: auto
	margin-bottom: 25px
	img
		display: block
		width: 100%
		height: auto

.proyectb6_info
	display: flex
	flex-direction: column
	justify-content: center
	width: 100%
	height: 100%
	text-align: center
	position: absolute
	top: 0
	left: 0

.proyectb6_wrap
	max-width: 300px
	width: 100%
	margin: auto

.proyectb6_img_foot
	max-width: 506px
	width: 100%
	position: absolute
	right: 0
	bottom: 0
	left: 0
	margin: auto


.proyectb6_figure
	width: 268px
	position: absolute
	bottom: 0
	left: -268px
	img
		display: block
		width: 100%
		height: auto

.proyectb6_imagen-360
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	display: none
	animation: fadeIn 1s linear alternate
	&.show
		display: block

	.ricoh-theta-spherical-image
		width: 100%
		height: 600px !important
		img
			width: 100% !important
			left: 0 !important
		iframe
			height: 600px !important

.proyectb6_close
	position: absolute
	top: 15px
	right: 15px
	font-size: 30px
	width: 40px
	height: 40px
	line-height: 40px
	color: $blanco
	border: 2px solid $blanco
	border-radius: 100%
	z-index: 20
	text-align: center
	cursor: pointer

@media screen and (max-width: 1024px)
	.proyectb6_img_foot
		display: none

	.proyectb6_bg_img
		height: 450px

	.proyectb6_imagen-360
		height: 450px !important
		.ricoh-theta-spherical-image
			height: 450px !important
			iframe
				height: 450px !important

@media screen and (max-width: 768px)
	.proyectb6_bg_img
		height: 400px

	.proyectb6_imagen-360
		height: 400px !important
		.ricoh-theta-spherical-image
			height: 400px !important
			iframe
				height: 400px !important

+keyframes(fadeIn)
	0%
		opacity: 0
	100%
		opacity: 1