.ctn__banner__detalle
	width: 100%
	height: 500px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	position: relative
	display: flex
	align-items: center
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0)
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%)
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)))
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%)
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%)
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%)
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 )
.ctn__banner__detalle__logo
	width: 100%
	padding: 0 15px
	position: relative
	z-index: 2
	figure
		width: 100%
		max-width: 180px
		margin: 0 auto
	img
		max-width: 100%
		display: block
		height: auto
@media screen and (max-width: 767px)
	.ctn__banner__detalle
		height: 350px
