.ctn__galeria
	width: 100%
	display: flex
	flex-wrap: wrap
.ctn__galeria__item
	width: 33.333333%
	margin: 0
	height: 422px
	position: relative
	overflow: hidden
	display: flex
.galeria--img
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	align-items: flex-end
	padding: 0 0 30px 0
	box-sizing: border-box
	&:before
		content: ""
		height: 150px
		width: 100%
		position: absolute
		bottom: 0
		left: 0
		z-index: 2
		background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%)
	&:after
		content: ""
		width: 30%
		height: 30%
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		background: $c-5
		opacity: 0
		transition: all 1.2s cubic-bezier(.19,1,.22,1)
		clip-path: circle(38% at 50% 50%)
.ctn__galeria__item__title
	position: relative
	z-index: 3
	background: $c-1
	padding: 0 20px 0 30px
	height: 40px
	box-sizing: border-box
	&:before
		content: ""
		position: absolute
		top: 0
		right: -40px
		width: 0
		height: 0
		border-style: solid
		border-width: 40px 40px 0 0
		border-color: $c-1 transparent transparent transparent
	h3
		margin: 0
		font-weight: normal
		color: $c-5
		font-size: 16px
		font-family: $t-0
		height: 100%
		line-height: 40px
.galeria--info
	align-items: center
	&:before
		content: ""
		position: absolute
		top: 130px
		left: -60px
		background: url('../img/galeria-img-line.png') no-repeat
		height: 435px
		width: 170px
.ctn__galeria__item__info__title
	width: 100%
	max-width: 310px
	padding: 0 15px
	box-sizing: border-box	
	margin: 0 auto
	h3
		position: relative
		font-weight: normal
		margin: 0
		font-family: $t-3
		color: $c-5
		font-size: 38px
		padding: 20px 0 0 35px
		line-height: 1.2
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			background: url('../img/icon-titles-2.png') no-repeat
			height: 46px
			width: 18px
@media screen and (min-width: 1025px)
	.galeria--img:hover
		&:after
			clip-path: circle(100% at 50% 100%)
			opacity: .65
			height: 100%
			width: 100%
		.homeb4_circles
			.c1
				animation: 2000ms scaleToggleOne cubic-bezier(0.25,0.46,0.45,0.94) forwards
			.c2
				animation: 2500ms scaleToggleTwo cubic-bezier(0.25,0.46,0.45,0.94) forwards
			.c3
				animation: 3000ms scaleToggleThree cubic-bezier(0.25,0.46,0.45,0.94) forwards

@media screen and (max-width: 960px)
	.galeria--info
		width: 100%
		height: auto
		padding: 30px 0
		box-sizing: border-box
	.galeria--img
		width: 50%
	.ctn__galeria__item__info__title
		max-width: 630px
		h3
			font-size: 23px
			padding-top: 10px
@media screen and (max-width: 480px)
		.galeria--img
			width: 100%

