// +++ mensaje +++
// =====> & > * //style a todos los elementos hijos de una caja padre.
// =====> nth-child(2n+2) //style al 2do elemento de cada fila.
// =====> nth-child(-n+2) //style a los dos primeros elementos de todos.
// =====> nth-last-child(-n+2) //style solo a los 2 ultimos elementos.
// =====> se esta usando "margin-top" para el mejor uso de los "nth-child()" dinamico.
// =====> 3 col en responsive se modifica los media query para visualizar a 2 col y/o a 1 col.
// <<< end >>>

.proyectb8
	background: linear-gradient(to right, rgba(77,77,79,1) 0%, rgba(87,87,89,1) 100%)
	padding: 55px 20px 65px 20px

.proyectb8_title
	text-align: center
	margin-bottom: 25px

.proyectb8_form
	max-width: 899px
	width: 100%
	margin: auto
	.form_campo
		label
			color: $blanco
		input, select, textarea
			background: rgba(230,230,230,.3)
			color: $blanco
			border: 1px solid transparent
		option
			background: #555557

.proyectb8_text1
	line-height: 25.34px
	color: $blanco
	font-family: $t-0
	font-size: 12px
	margin-bottom: 20px
	strong
		color: $c-1
		font-weight: normal
	p
		margin-bottom: 0

.proyectb8_text2
	line-height: 19.34px
	color: $blanco
	font-family: $t-0
	font-size: 14px
	position: relative
	margin-bottom: 40px
	a
		color: $c-1
		text-decoration: underline
	p
		margin-bottom: 0
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		z-index: -1
	input[type="checkbox"]
		&:checked + label:before
			opacity: 0
			visibility: hidden
		&:checked + label:after
			opacity: 1
			visibility: visible
	label
		display: inline-block
		position: relative
		padding-left: 20px
		&:before
			content: "\e907"
			display: block
			width: 14px
			height: 14px
			line-height: 14px
			color: $c-3
			font-family: $icomoon
			font-size: 14px
			text-align: center
			position: absolute
			top: 1px
			left: 0
			opacity: 1
			visibility: visible
			transition: all .25s ease
		&:after
			content: "\e908"
			display: block
			width: 14px
			height: 14px
			line-height: 14px
			color: $c-3
			font-family: $icomoon
			font-size: 14px
			text-align: center
			opacity: 0
			visibility: hidden
			transition: all .25s ease
			position: absolute
			top: 1px
			left: 0

.proyectb8_button_send
	button
		display: block
		max-width: 287px
		width: 100%
		border: none
		padding-left: 0
		padding-right: 0
		margin: auto
	.btn_general_text
		width: 100%
		padding-left: 0
		padding-right: 0

// +++ col-1 por default +++
.proyectb8_block
	margin-bottom: 15px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		margin-top: 25px
		&:first-child
			margin-top: 0
	li
		width: 100%
		margin: 0
		margin-top: 25px
		&:first-child
			margin-top: 0
	@media screen and (max-width: 767px)
		ul
			margin-top: 20px
		li
			margin-top: 20px
// <<< end >>>

// +++ col-2 +++
.proyectb8_col-2
	li
		width: 49%
		margin-right: 2%
	li:nth-child(2n+2)
		margin-right: 0
	li:nth-child(-n+2)
		margin-top: 0
	@media screen and (max-width: 767px)
		li
			width: 100%
			margin-right: 0
		li:nth-child(-n+2)
			margin-top: 20px
		li:first-child
			margin-top: 0
// <<< end >>>

// +++ col-3 +++
.proyectb8_col-3
	li
		width: 32%
		margin-right: 2%
	li:nth-child(3n+3)
		margin-right: 0
	li:nth-child(-n+3)
		margin-top: 0
	@media screen and (max-width: 960px)
		li
			width: 49%
			margin-right: 2%
		li:nth-child(-n+3)
			margin-top: 30px
		li:nth-child(-n+2)
			margin-top: 0
		li:nth-child(odd)
			margin-right: 2%
		li:nth-child(even)
			margin-right: 0
	@media screen and (max-width: 767px)
		li
			width: 100%
			margin-right: 0
		li:nth-child(-n+3)
			margin-top: 20px
		li:first-child
			margin-top: 0
		li:nth-child(odd)
			margin-right: 0

.proyectb8_col-3.screen960_screen767
	@media screen and (max-width: 960px)
		li:nth-child(1)
			width: 100%
			margin-right: 0
		li:nth-child(odd)
			margin-right: 0
		li:nth-child(even)
			margin-right: 2%
		li:nth-child(-n+3)
			margin-top: 25px
		li:nth-child(-n+1)
			margin-top: 0
	@media screen and (max-width: 767px)
		li:nth-child(even)
			margin-right: 0
		li:nth-child(-n+3)
			margin-top: 20px
		li:nth-child(-n+1)
			margin-top: 0
// <<< end >>>

// responsive
@media screen and (max-width: 1024px)
	.proyectb8
		padding: 50px 20px

@media screen and (max-width: 767px)
	.proyectb8
		padding: 40px 15px