// .proyectb2
// 	padding-top: 100px

.proyectb2__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.proyectb2__box
	width: 25%
	position: relative

.proyectb2__figuras
	width: 100%
	height: 100%
	background-color: $c-1
	position: relative

.proyectb2__figuras__img
	width: 100%
	height: 70%
	background-repeat: no-repeat
	background-position: top right
	position: absolute
	bottom: 0
	left: 0

.proyectos__box__info__content
	max-width: 252px
	width: 100%
	box-sizing: border-box
	margin: auto
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(49,49,50,1) 100%)
	padding: 60px 35px

.proyectb2__box__info
	position: absolute
	left: -130px
	top: 0
	bottom: 0
	display: flex
	margin: auto

.proyectb2__box__title
	background-color: $c-1
	padding: 12px 24px
	margin-bottom: 24px
	text-align: center
	h4
		font-family: $t-1
		font-size: 19px
		color: $c-5
		margin-bottom: 0
		text-transform: uppercase

.proyectb2__box__text
	font-family: $t-0
	font-size: 13px
	color: $blanco
	text-align: center
	padding-bottom: 5px
	p
		margin-bottom: 0
		text-transform: uppercase

.proyectb2__box__number
	font-family: $t-2
	font-size: 39px
	color: $blanco
	text-align: center
	p
		margin-bottom: 0

.proyectb2__info
	width: 75%
	padding: 80px 0px
	position: relative

.proyectb2__info__container
	max-width: 920px
	width: 100%
	padding-left: 14%
	box-sizing: border-box
	position: relative

.proyectb2__info__title
	max-width: 470px
	padding-bottom: 25px
	box-sizing: border-box

.proyectb2__info__subtitle
	font-family: $t-2
	font-size: 20px
	color: $c-1
	text-transform: uppercase
	padding-bottom: 34px
	p
		margin-bottom: 0

.proyectb2__info__text
	font-family: $t-0
	font-size: 18px
	color: $c-0
	padding-bottom: 62px
	text-align: justify
	p
		margin-bottom: 0
		padding-bottom: 32px
		&:last-child
			padding-bottom: 0
	
.proyectb2__info__btn
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.proyectb2__info__btn__pdf
	border: 1px solid #DBDBDB
	margin-right: 23px
	a
		text-decoration: none
		color: $negro
		font-family: $t-1
		font-size: 13px
		text-transform: uppercase
		display: block
		padding: 12px 20px
		strong
			width: max-content
			font-family: $t-2
			font-size: 19px
			display: block
			position: relative
			padding-right: 20px
			&:before
				content: '\e917'
				position: absolute
				right: 0
				top: 2px
				font-family: $icomoon
				font-size: 17px

.proyectb2__info__btn__redes
	border: 1px solid #DBDBDB
	padding: 25px 20px
	font-family: $t-1
	font-size: 12px
	text-transform: uppercase
	a
		text-decoration: none
		color: $negro
		margin-right: 40px
		&:last-child
			margin-right: 0

.proyectb2__icon__facebook
	position: relative
	padding-left: 25px
	&:before
		content: '\e603'
		position: absolute
		left: 0
		bottom: 0
		font-family: $icomoon
		font-size: 25px
		line-height: 12px

.proyectb2__icon__twitter
	position: relative
	padding-left: 31px
	&:before
		content: '\e604'
		position: absolute
		left: 0
		bottom: 0
		font-family: $icomoon
		font-size: 25px
		line-height: 12px

.proyectb2__info__line
	width: 168px
	position: absolute
	top: -50px
	right: -10%
	z-index: -1

.proyectb2__line__img
	max-width: 168px
	width: 100%

@media screen and (max-width: 1370px)
	.proyectb2__info__line
		right: -5%

	.proyectb2__info__container
		padding-left: 20%
		padding-right: 20px

@media screen and (max-width: 1300px)
	.proyectb2__info__line
			right: 0

@media screen and (max-width: 1200px)
	.proyectb2__info__line
		display: none

@media screen and (max-width: 900px)
	.proyectb2__box
		display: none

	.proyectb2__box__info
		position: relative
		left: 0

	.proyectb2__info__container
		padding-top: 50px
		padding-left: 20px

	.proyectb2__info
		width: 100%

	.proyectos__box__info__text
		max-width: 220px
		width: 100%
		box-sizing: border-box
		margin: auto
		texr-align: center

	.proyectos__box__info__content
		max-width: 500px

	.proyectb2__box__info
		width: 100%
		box-sizing: border-box
		padding: 0px 20px

	.proyectb2__info__title
		max-width: 100%

	.proyectb2__info
		padding: 60px 0px

@media screen and (max-width: 640px)
	.proyectb2__info
		padding: 45px 0px

	.proyectb2__box__info
		padding: 0px 15px

	.proyectos__box__info__content
		padding: 40px 20px

	.proyectb2__box__title
		padding: 10px 15px
		margin-bottom: 20px
		h4
			font-size: 16px

	.proyectb2__box__number
		font-size: 36px

	.proyectb2__info__container
		padding-top: 35px
		padding-left: 15px
		padding-right: 15px

	.proyectb2__info__title
		padding-bottom: 20px

	.proyectb2__info__subtitle
		padding-bottom: 20px
		font-size: 18px

	.proyectb2__info__text
		padding-bottom: 40px
		font-size: 15px
		p
			padding-bottom: 15px

	.proyectb2__info__btn__pdf a
		padding: 10px 15px

	.proyectb2__info__btn__redes
		padding: 23px 15px

@media screen and (max-width: 480px)
	.proyectos__box__info__content
		padding: 30px 20px

	.proyectb2__box__title h4
		font-size: 15px

	.proyectb2__box__number
		font-size: 32px

	.proyectb2__info__subtitle
		font-size: 16px 

	.proyectb2__info__text
		font-size: 14px
		padding-bottom: 30px

	.proyectb2__info__btn__pdf a strong
		font-size: 15px
		&:before
			font-size: 14px

	.proyectb2__info__btn__redes
		padding: 20px 15px

	.proyectb2__info__btn__pdf
		margin-right: 15px

	.proyectb2__info__container
		padding-top: 25px

@media screen and (max-width: 400px)
	.proyectb2__info__btn
		align-items: flex-start
		flex-direction: column

	.proyectb2__info__btn__pdf
		margin-right: 0
		margin-bottom: 10px