.wrap_location
	width: 100%
	position: relative
	overflow: hidden
	display: flex
	flex-wrap: wrap
.location__info
	width: 50%
	display: flex
	align-items: center
	justify-content: flex-end
	padding-right: 10%
	box-sizing: border-box
	padding-left: 15px
.location__info__wrapper
	max-width: 500px
.location__info__wrapper__title
	h3
		font-weight: normal
		margin: 0
		font-family: $t-3
		color: $c-5 
		font-size: 38px
		position: relative
		padding-top: 55px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			background: url('../img/icon-titles-2.png') no-repeat
			width: 18px
			height: 46px
.location__info__wrapper__parraf
	margin: 38px 0 0 0
	p
		margin: 0 0 23px 0
		font-family: $t-0
		color: $c-0
		font-size: 18px
		&:last-child
			margin: 0
.location
	width: 50%
.loca_main
	position: relative
.loca_itm
	width: auto
	position: absolute
	top: 0
	left: -43px
	bottom: 0
	margin: auto
	z-index: 2
	height: 100%
	display: flex
	align-items: center
.loca_img
	width: 85px
	margin: 0
	padding: 15px 0 20px 0
	box-sizing: border-box
	cursor: pointer
	transition: all .3s linear
	background: $blanco
	display: block
	text-transform: uppercase
	@media screen and (min-width: 1024px)
		&:hover, &.active
			background: $c-1
.loca_img_inner
	width: 30px
	margin: auto
	img
		width: 100%
		height: auto
		display: block
.loca_text
	font-size: 8px
	font-family: $t-0
	color: $c-0
	display: block
	text-align: center
	padding-top: 6px
.loca_map
	width: 100%
	height: 570px
	border: 0
	box-sizing: border-box
	position: relative
.map_class
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
.close_map
	position: absolute
	top: 0
	right: 20px
	background: $c-0
	color: $blanco
	height: 40px
	line-height: 40px
	padding: 0px 20px
	font-size: 14px
	z-index: 300
	display: none
	cursor: pointer
	margin-top: 10px
@media screen and (max-width: 1300px)
	.location__info
		padding-right: 5%
@media screen and (max-width: 960px)
	.wrap_location
		padding: 30px 0
		box-sizing: border-box
		&.active
			z-index: 9000	
	.location__info
		padding-right: 15px
	.loca_itm
		position: relative
		left: inherit
		top: inherit
	.loca_ubication
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		width: 100%
		padding: 0 15px
	.close_map
		display: block	
	.loca_map
		position: fixed
		width: 100%
		max-width: inherit
		height: 100%
		top: -120%
		left: 0
		transition all .4s ease
		z-index: 600
		&.active
			top: 0
@media screen and (max-width: 767px)
	.location__info__wrapper__title h3
		font-size: 25px
	.location__info__wrapper__parraf
		margin-top: 25px
	.location__info__wrapper__parraf p
		font-size: 16px
@media screen and (max-width: 480px)
	.location__info
		width: 100%
	.location
		width: 100%
		margin-top: 20px
