.proyectsb2
	background: linear-gradient(to right, rgba(91,91,93,1) 0%, rgba(91,91,93,1) 1%, rgba(77,77,79,1) 100%)
	overflow: hidden

.proyectsb2_content
	margin: 0 -4px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
	li
		width: 25%
		box-sizing: border-box
		padding: 8px 4px 0 4px
		margin: 0
		&:nth-child(-n+4)
			padding-top: 0

@media screen and (max-width: 1024px)
	.proyectsb2_content
		li
			width: 33.333333333333336%
			&:nth-child(-n+4)
				padding-top: 8px
			&:nth-child(-n+3)
				padding-top: 0

@media screen and (max-width: 768px)
	.proyectsb2_content
		li
			width: 50%
			&:nth-child(-n+3)
				padding-top: 8px
			&:nth-child(-n+2)
				padding-top: 0

@media screen and (max-width: 480px)
	.proyectsb2_content
		li
			width: 100%
			&:nth-child(-n+2)
				padding-top: 8px
			&:nth-child(-n+1)
				padding-top: 0