.proyectb4
	padding: 0 20px

.proyectb4_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	max-width: 1020px
	width: 100%
	min-height: 400px
	overflow: hidden
	position: relative
	box-sizing: border-box
	padding-top: 87px
	padding-bottom: 88px
	margin: auto

.proyectb4_content_left
	width: 32.84%

.proyectb4_content_right
	width: 67.16%

.proyectb4-figure
	width: 268px
	position: absolute
	bottom: 0
	left: -82px
	img
		display: block
		width: 100%
		height: auto

.proyectb4_block
	display: flex
	flex-direction: row
	flex-wrap: wrap

.proyectb4_box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	width: 33.333333333333336%
	box-sizing: border-box
	padding-left: 40px
	margin-top: 70px
	&:nth-child(-n+3)
		margin-top: 0

.proyectb4_img
	width: 68px
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.proyectb4_text
	width: calc(100% - 68px)
	box-sizing: border-box
	padding-left: 10px
	h3
		line-height: 21.34px
		color: $c-5
		font-family: $t-0
		font-size: 18px
		margin-bottom: 0

@media screen and (max-width: 1024px)
	.proyectb4_content
		min-height: 326px
		padding-top: 50px
		padding-bottom: 50px

	.proyectb4_content_left
		width: 29%

	.proyectb4_content_right
		width: 71%
	
	.proyectb4_text
		h3
			line-height: 19.34px
			font-size: 16px

@media screen and (max-width: 960px)
	.proyectb4
		padding: 50px 20px

	.proyectb4_content
		flex-direction: column
		min-height: inherit
		padding: 0

	.proyectb4_content_left
		width: 100%
		margin-bottom: 50px

	.proyectb4_content_right
		width: 100%

	.proyectb4-figure
		display: none

	.proyectb4_title
		padding: 0 20px
	
	.proyectb4_box
		padding: 0 20px

@media screen and (max-width: 767px)
	.proyectb4
		padding: 40px 15px

	.proyectb4_box
		width: 50%
		margin-top: 40px
		&:nth-child(-n+3)
			margin-top: 40px
		&:nth-child(-n+2)
			margin-top: 0

@media screen and (max-width: 480px)
	.proyectb4_title
		padding: 0 5px

	.proyectb4_box
		padding: 0 5px

	.proyectb4_img
		width: 45px

	.proyectb4_text
		width: calc(100% - 45px)
		h3
			line-height: 17.34px
			font-size: 14px