// BANNER
.cotizar__banner__container
	width: 100%
	position: relative
	height: 400px
	background-color: $blanco

.cotizar__banner__background
	width: 100%
	height: 100%
	background-size: cover
	background--repear: no-repear
	background-position: center

.cotizar__banner__content
	max-width: 1240px
	width: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto
	height: 100%
	display: flex
	align-items: center
	padding-bottom: 80px

.cotizar__banner__text
	h2
		font-family: $t-3
		color: $c-5
		font-size: 38px
		margin-bottom: 0

// COTIZA
.cotizar
	position: relative
	padding-bottom: 58px

.cotizar__container
	max-width: 1240px
	width: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto

.cotizar__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	margin-top: -160px

.cotizar__title
	padding-bottom: 35px
	h3
		font-family: $t-2
		font-size: 20px
		color: $c-5
		margin-bottom: 0

.cotizar__proyectos
	width: 68%

.cotizar__proyectos__items
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	li
		width: 47%
		margin: 1%

.cotizar__datos
	width: 27%
	padding-left: 5%
	background-color: $blanco

.cotizar__datos__content
	opacity: 0.4
	transition: all .3s ease
	&.active
		opacity: 1
		transition: all .3s ease

.cotizar__formulario
	li
		padding: 8px 0px

.cotizar__input
	label
		font-family: $t-0
		font-size: 14px
		color: $c-0
		display: block
		padding-bottom: 10px
	input,select
		width: 100%
		box-sizing: border-box
		height: 50px
		border: 1px solid $c-3
		font-family: $t-0
		font-size: 14px
		color: $c-0
		padding: 0px 20px
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button 
		-webkit-appearance: none
		margin: 0
	input[type="number"] 
		-moz-appearance:textfield
	textarea
		width: 100%
		box-sizing: border-box
		height: 98px
		border: 1px solid $c-3
		font-family: $t-0
		font-size: 14px
		color: $c-0
		padding: 20px 20px

.cotizar__input--select
	position: relative
	select
		-webkit-appearanc:e none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display none
	&:before
		content: '\e904'
		position: absolute
		top: 0
		right: 20px
		font-family: $icomoon
		font-size: 20px
		color: $c-0
		z-index: 1
		pointer-events: none
		line-height: 50px

.cotizar__terminos
	font-family: $t-0
	font-size: 12px
	color: $c-0
	position: relative
	margin-bottom: 45px
	input
		opacity: 0
		visibility: hidden
		position: absolute
		top: 1px
		left: 2px
	input[type="checkbox"]
		&:checked + label:before
			opacity: 1
			visibility: visible
			transition: all .3s 
		&:checked + label:after
			opacity: 1
			visibility: visible
			transition: all .3s 
	label
		display: block
		line-height: 16.8px
		position: relative
		padding-left: 30px
		&:before
			content: "\e907"
			font-family: $icomoon
			display: block
			width: 14px
			height: 14px
			font-size: 18px
			color: $c-3
			opacity: 1
			visibility: visible
			position: absolute
			top: 0
			left: 0
			box-sizing: border-box
			transition: all .3s 
		&:after
			content: "\e908"
			display: block
			line-height: 13px
			font-family: $icomoon
			color: $c-1
			font-size: 18px
			opacity: 0
			visibility: hidden
			position: absolute
			top: 2px
			left: 0
			transition: all .3s 
	p
		padding-left: 26px
		font-family: $t-0
		font-size: 14px
		color: $c-0
		margin-bottom: 0
	a
		color: $c-1
		text-decoration: underline

.cotizar__btn
	button
		width: 100%
		text-align: center
		border: none

.cotizar__campos
	font-family: $t-0
	font-size: 12px
	color: $c-0
	margin-top: 10px
	margin-bottom: 30px
	strong
		color: $c-1

@media screen and (max-width: 1160px)
	.cotizar__proyectos
		width: 55%

	.cotizar__datos
		width: 40%

	.cotizar__proyectos__items li
		width: 100%


@media screen and (max-width: 1024px)
	.cotizar__banner__container
		height: 300px

	.cotizar__banner__text h2
		font-size: 32px

	.cotizar__banner__content
		padding-bottom: 0

	.cotizar__content
		margin-top: -60px

@media screen and (max-width: 720px)
	.cotizar__proyectos
		width: 100%

	.cotizar__datos
		width: 100%
		padding-left: 0
		padding-top: 40px

	.cotizar__proyectos__items li
		width: 100%
		margin: 0
		padding-bottom: 20px

	.cotizar__container
		padding: 0px 15px

@media screen and (max-width: 480px)
	.cotizar__banner__text h2
		font-size: 26px

	.cotizar__title h3
		font-size: 18px

@media screen and (max-width: 390px)
	.cotizar__proyectos__items
		.itemb3_content
			padding: 20px 11px

		.itemb3_content_left
			width: 130px

		.itemb3_content_right
			width: calc(100% - 130px)
			padding-left: 15px

		.itemb3_tag
			padding: 0 5px

		.itemb3_text
			font-size: 12px

		.itemb3_circle
			top: 12px
			right: 12px