.usb1
	background-color: #545556
.usb1_content
	max-width: 1037px
	width: 100%
	height: auto
	margin: 0 auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	padding-top: 50px
	box-sizing: border-box
	position: relative
.usb1_box_left
	width: 50%
	height: 100%
	// border: 1px solid red
.usb1_bl_content
	margin-left: 62px
	transition: all 1s ease-in-out
	opacity: 0
	transform: translateY(50px)
	&.active
		opacity: 1
		transform: translateY(0)
	// max-width: 363px
.usb1_title_left
	max-width: 328px
	width: 100%
.usb1_box_right
	// border: 1px solid green
	width: auto
	height: 600px
	position: relative
	overflow: hidden
	img
		position: absolute
		top: 0
		left: 0
		z-index: 1
		// width: 600px
		width: auto
		height: 600px
.usb1_box_right_bg
	width: 600px
	height: 600px
	background-repeat: no-repeat
	background-size: contain
	background-position: center
	transform: scale(1.07)
	transition: all 2s ease-in-out
	&.active
		transform: scale(1)
.usb1_p
	max-width: 363px
	width: 100%
	padding-left: 32px
	padding-top: 28px
	box-sizing: border-box
	color: $blanco
	line-height: 25px
	font-family: $t-0
	font-size: 18
.usb1_triangle
  width: 158px
  height: auto
  position: absolute
  bottom: -3px
  left: -25px
@media screen and (max-width: 881px)
	.usb1
		padding-top: 66px
		box-sizing: border-box
	.usb1_box_right
		display: none
	.usb1_content
		padding: 50px 20px 70px 20px
	.usb1_triangle
		left: 23px
		width: 119px
	.usb1_box_left
		width: 80%
	.usb1_bl_content
		margin-left: 0
	.usb1_title_left
		max-width: 100%
	.usb1_p
		max-width: 100%
		padding-left: 0
		text-align: justify
@media screen and (max-width: 575px)
	.usb1_title_left
		h2
			line-height: 32px
			font-size: 26px
