.usb2
	background-color: $c-1
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
.usb2_box_left
	width: 30%
	height: auto
.usb2_bl_img
	position: absolute
	bottom: 0
	left: -240px
	height: auto
	width: 100%
	max-width: 240px
	height: auto
	z-index: 1
	overflow: hidden
	img
		display: block
		transform: scale(1)
		transition: all 2s ease-in-out
.usb2_bl_img:hover
	img
		transform: scale(1.07)
.usb2_box_right
	background-color: $blanco
	min-height: 596px
	height: auto
	width: 100%
	padding-left: 5.3%
	box-sizing: border-box
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center
	position: relative

.usb2_br_content
	height: auto
	width: 100%
	max-width: 870px
	padding-top: 30px
	padding-bottom: 30px
	box-sizing: border-box
.usb2_h1
	padding-bottom: 80px
	box-sizing: border-box
	transition: all 1s ease-in-out
	opacity: 0
	transform: translateX(20px)
	strong
		display: block
		font-weight: normal
	&.active
		opacity: 1
		transform: translateX(0)
.usb2_br_h2
	padding-bottom: 23px
	box-sizing: border-box
	h2
		font-size: 18px
		font-family: $t-2
		color: $c-5
		strong
			display: block
			font-weight: normal
.usb2_br_p
	max-width: 223px
	width: 100%
	p
		font-size: 16px
		font-family: $t-0
		color: $c-0
.usb2_br_img
	max-width: 70px
	width: 100%
	height: auto
	padding-bottom: 14px
	box-sizing: border-box
.usb2_br_txt_content
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: flex-start
.usb2_br_txt
	width: 33%
	height: auto
	padding-right: 20px
	box-sizing: border-box
	transform: translateY(100px)
	transition: all 450ms ease
	opacity: 0
	&.active
		transform: translateY(0)
		opacity: 1
// @media screen and (max-width: 1024px)
	// .usb2_box_right
		// padding: 30px 20px
		// min-height: auto
@media screen and (max-width: 855px)
	.usb2_h1
		width: 80%
@media screen and (max-width: 767px)
	.usb2_box_left,	.usb2_bl_img
		display: none
	.usb2_box_right
		padding: 30px 20px
		min-height: auto
@media screen and (max-width: 575px)
	.usb2_br_txt_content
		flex-direction: column
	.usb2_br_txt
		width: 100%
		padding-right: initial
	.usb2_br_p
		max-width: 100%
	.usb2_h1
		padding-bottom: 30px
	.usb2_h1
		h1
			line-height: 32px
			font-size: 26px