.usb3
	background-repeat: repeat-x
	background-position: bottom
	background-position: 0% 120%
	padding-top: 100px
	padding-bottom: 56px
	box-sizing: border-box
.usb3_content
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: flex-start
	width: 100%
	max-width: 958px
	height: auto
	margin: 0 auto
.usb3_box_left
	width: 50%
	height: 100%
.usb3_bl_h1
	padding-bottom: 56px
.usb3_bl_txt
	padding: 51px 77px 77px 77px
	color: $blanco
	background: rgba(77,77,79,1)
	// background-color: $c-0
.usb3_bl_p, .usb3_br_p
	margin-top: 18px
	max-width: 311px
	width: 100%
	height: auto
	font-family: $t-0
	font-size: 19px
	line-height: 25px
	P
		margin: 0
.usb3_box_right
	width: 50%
	height: 100%
.usb3_br_txt
	color: $negro
	background-color: $c-1
	padding: 51px 77px 77px 77px
.usb3_bl_h2, .usb3_br_h2
	h2
		font-family: $t-2
		font-size: 20px
	h2::first-letter
		font-size: 80px
@media screen and (max-width: 1024px)
	.usb3
		// padding: 20px 20px 60px 20px
		padding-left: 20px
		padding-right: 20px
	.usb3_bl_h1
		padding-right: 20px
		padding-bottom: 30px
@media screen and (max-width: 767px)
	.usb3_content
		flex-direction: column
	.usb3_box_left, .usb3_box_right
		width: 100%
	.usb3_bl_p, .usb3_br_p
		max-width: 100%
	.usb3
		padding-top: 20px
	.usb3_bl_h1
		padding-right: initial
		width: 80%
@media screen and (max-width: 575px)
	.usb3_bl_txt, .usb3_br_txt
		padding: 40px 40px
	.usb3_bl_h1
		h1
			line-height: 32px
			font-size: 26px