.usb4
	width: 100%
	height: 600px
	position: relative
	overflow: hidden
.usb4_filter
	width: 100%
	height: 100%
	background-color: $negro
	opacity: 0.2
	position: absolute
	top: 0
	left: 0
.usb4_bg_img
	width: 100%
	height: 800px
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	position: relative
	transition: transform 4s ease-in
	transform: scale(1.1)
	&.active
		transform: scale(1)
.usb4_content
	max-width: 620px
	width: 90%
	height: auto
	text-align: center
	position: absolute
	top: 50%
	right: 0
	left: 0
	margin: auto
	transform: translateY(-50%)
.usb4_p
	font-family: $t-0
	font-size: 38px
	color: $blanco
	padding-bottom: 44px
	box-sizing: border-box
@media screen and (max-width: 575px)
	.usb4_p
		font-size: 26px
		p
			line-height: 32px