extends ./_common/base.pug
//- btn
block content
	a(href="#", class="btn_general btn_color_yellow")
		.btn_general_text.btn_general_text1
			span.span_txt_black PROYECTOS EN VENTA
		.btn_general_text.btn_general_text2
			span.span_txt_black PROYECTOS EN VENTA

	br

	a(href="#", class="btn_general btn_color_white")
		.btn_general_text.btn_general_text1
			span.span_txt_black SOLICITA INFORMACIÓN
		.btn_general_text.btn_general_text2
			span.span_txt_black SOLICITA INFORMACIÓN
	

	br

	a(href="#", class="btn_general btn_color_border_yellow")
		.btn_general_text.btn_general_text1
			span.span_txt_border_yellow VER PROYECTO
		.btn_general_text.btn_general_text2
			span.span_txt_border_yellow VER PROYECTO
	
	br
	br
	p falta colorcar iconos
	br

	a(href="#", class="btn_general btn_color_border_grey")
		.btn_general_text_border_grey.btn_general_text1
			span.span_txt_border_grey <
		.btn_general_text_border_grey.btn_general_text2
			span.span_txt_border_grey <

	br

	a(href="#", class="btn_general btn_color_border_grey")
		.btn_general_text_border_grey.btn_general_text1
			span.span_txt_border_grey >
		.btn_general_text_border_grey.btn_general_text2
			span.span_txt_border_grey >
