extends ./_common/base.pug
//- btn
block content
	section(style="max-width:1200px; margin:auto;")
		.form_campo
			label(for="nombre_1") Nombre<strong>*</strong>
			input(type="text", name="nombre_1", id="nombre_1", class="validate[required]")

		.form_campo
			label(for="telefono") Teléfono<strong>*</strong>
			input(type="number", name="telefono", id="telefono", class="inputNumber validate[required,custom[phone]]")

		.form_campo
			label(for="correo_1") Email<strong>*</strong>
			input(type="text", name="correo_1", id="correo_1", class="validate[required,custom[email]]")

		.form_campo
			label(for="correo_1") Email<strong>*</strong>
			select(name="", class="validate[required]")
				option(value="") select-1
				option(value="") select-2

		.form_campo
			label(for="mensaje_1") Mensaje
			textarea(name="mensaje_1", id="mensaje_1", class="validate[required]")