extends ./_common/base.pug

block content
	div(style="background:#c6c6c6; padding-bottom:100px; max-width:1200px; margin:auto;")
		//- +++ titles #1 +++
		.title-1.title-gris-1
			h2 Compromiso de brindarte lo mejor (black, 38px)

		br

		.title-1.title-negro
			h2 Compromiso de brindarte lo mejor (black, 38px)

		br

		.title-1.title-blanco
			h2 Enterate de las noticias sobre el rubro (black, 38px)

		br

		.title-1.title-blanco
			h2 ¡Cotiza tu depa ya! (black, 38px)

		br

		.title-1.title-gris-2
			h2 ¡Cotiza tu depa ya! (black, 38px)

		br

		.title-1.title-gris-2
			h2 Distribución inteligente y acabados de calidad (black, 38px)

		br

		.title-1.title-gris-2
			h2 Ambientes que detallan tu espacio ideal (black, 38px)

		br

		.title-1.title-gris-2
			h2 Beneficios que aportan valor a nuestros proyectos (black, 38px)

		br

		.title-1.title-gris-2
			h2 Un solo equipo manteniendo el mismo objetivo (black, 38px)

		br

		.title-1.title-gris-2
			h2 ¡Escoge el plan que se adecue más a ti! (black, 38px)

		br

		.title-1.title-gris-2
			h2 Puedes escoger invertir entre (black, 38px)

		br

		.title-1.title-gris-2
			h2 Invirtiendo con Armas Dommo obtendras (black, 38px)

		br

		.title-1.title-gris-2
			h2 ¿Tienes alguna consulta? Escríbenos (black, 38px)

		//- end
		
		br
		br
		br

		//- +++ titles #2 +++
		.title-2.title-gris-2
			h2 Todo lo que te hace feliz a metros de distancia (bold, 39px)
		//- end

		br
		br
		br

		//- +++ titles #3 +++
		.title-3.title-blanco
			h2 Compromiso siempre de mejorar tu vida (bold, 40px)
		//- end

		br
		br
		br

		//- +++ titles #4 +++
		.title-4.title-blanco
			h2 Múdate hoy a uno de nuestros depas ubicado en las mejores zonas (book, 38px)
		//- end

		br
		br
		br

		//- +++ titles #5 +++
		.title-5.title-gris-2
			h2 Trabaja con nosotros (black, 30px)
		//- end

		br
		br
		br

		//- +++ titles #6 +++
		.title-6.title-blanco
			h2 Mensaje enviado (bold, 35px)
		//- end

		br
		br
		br

		//- +++ titles #7 +++
		.title-7.title-blanco
			h2 Página no encontrada (bold, 27px)
		//- end

		br
		br
		br

		//- +++ titles #7 +++
		.title-8.title-gris-2
			h2 Página no encontrada (black, 26px)
		//- end

		br
		br
		br
		br
		br
		
		//- +++ titles-icons +++	
		.title-1.title-gris-1.title-icons-2
			span.title-icon.white-gray
			h2 Tenemos el proyecto que buscas (black, 38px)

		br

		.title-1.title-gris-2.title-icons-1
			span.title-icon.yellow-gray
			h2 Distribución inteligente y acabados de calidad (black, 38px)

		br

		.title-1.title-gris-2.title-icons-1
			span.title-icon.white-gray
			h2 Un espacio pensado en ti (black, 38px)

		br

		.title-1.title-gris-2.title-icons-2
			span.title-icon.yellow-gray
			h2 Cambia el carro por la bici (black, 38px)

		br
		br
		br

		.title-3.title-blanco.title-icons-1
			span.title-icon.yellow-white
			h2 Compromiso siempre de mejorar tu vida (bold, 40px)

		br

		.title-3.title-blanco.title-icons-1
			span.title-icon.yellow-white
			h2 Proyectos en Venta (bold, 40px)

		br

		.title-3.title-blanco.title-icons-1
			span.title-icon.yellow-white
			h2 Proyectos Entregados (bold, 40px)

		br
		br
		br

		.title-6.title-blanco.title-icons-1
			span.title-icon.yellow-white
			h2 Mensaje enviado (bold, 35px)

		br
		br
		br

		.title-7.title-blanco.title-icons-1
			span.title-icon.yellow-white
			h2 Página no encontrada (bold, 27px)
		//- end
