.btn_general
	display: inline-block
	position: relative
	overflow: hidden
	transition: all 1s
	font-family: $t-3
	font-size: 12px
	// background: $c-1
	// box-shadow: 0 0 100px rgba(0,0,0,.15)
	@media screen and (min-width: 1025px)
		&:hover
			// box-shadow: 0 0 50px rgba(0,0,0,.15)
			.btn_general_text1
				transform: translateX(0)
			.btn_general_text2
				transform: translateX(100%)
.btn_general_text
	line-height: 50px
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1)
	padding: 0 30px
	span
		display: block
	
.btn_general_text1
	position: absolute
	top: 0
	left: 0
	transform: translateX(-100%)

.btn_general_text2
	transform: translateX(0)

// ******* colores btn *******
.span_txt_black
	color: $negro

// btn border yellow
.btn_color_yellow
	background: $c-1
	@media screen and (min-width: 1025px)
		&:hover
			background: #ffd566

// btn border white
.btn_color_white
	background: $blanco
	@media screen and (min-width: 1025px)
		&:hover
			background: #e6eaed

// btn border yellow
.btn_color_border_yellow
	background: $blanco
	border: 2px solid $c-1
	.span_txt_border_yellow
		color: $c-1
		transition: all .3s ease-in-out
	@media screen and (min-width: 1025px)	
		&:hover
			background: $c-1
			.span_txt_border_yellow
				color: $negro

// btn border grey
.btn_color_border_grey
	background: $blanco
	border: 2px solid $c-0
	.btn_general_text_border_grey
		line-height: 40px
		transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1)
		padding: 0 12px
		font-size: 30px
		span
			display: block
	.span_txt_border_grey
		color: $c-0
		transition: all .3s ease-in-out
	@media screen and (min-width: 1025px)
		&:hover
			background: $c-0
			.span_txt_border_grey
				color: $blanco
