.form_campo
	label
		display: inline-block
		line-height: 1
		color: $c-0
		font-family: $t-0
		font-size: 14px
		margin-bottom: 10px
		strong
			color: $c-1
			font-weight: normal

	input, select, textarea
		width: 100%
		height: 50px
		background: $blanco
		color: $c-0
		font-family: $t-0
		font-size: 14px
		border: 1px solid $c-3
		border-radius: 3px
		box-sizing: border-box
		padding: 0 10px
	textarea
		height: 98px
		padding: 10px

.form_campo-icon
	position: relative
	&:before
		content: "\e904"
		width: 50px
		height: 50px
		line-height: 50px
		color: $blanco
		font-family: $icomoon
		font-size: 24px
		text-align: center
		position: absolute
		right: 5px
		bottom: 0
		pointer-events: none 
	select
		appearance: none

// +++ style input number +++
input.inputNumber[type="number"]
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button
		-webkit-appearance: none
		margin: 0
	-moz-appearance: textfield
// <<< end >>>

// +++ style validation +++
.formError
	.formErrorContent,
	.formErrorArrow div
		background-color: $c-1
		color: $blanco
		border: none
		font-size: 12px
		font-family: $t-0
	.formErrorArrow
		.line1,.line2,.line3
			display: none
// <<< end >>>