// +++ colors +++
.title-gris-1
	color: $c-0

.title-gris-2
	color: $c-5

.title-negro
	color: $negro

.title-blanco
	color: $blanco
// <<< end >>>

.title-1
	h1, h2, h3, h4
		line-height: 44px
		font-family: $t-3
		font-weight: normal
		font-size: 38px
		margin-bottom: 0
	@media screen and (max-width: 1024px)
		h1, h2, h3, h4
			line-height: 38px
			font-size: 32px
	@media screen and (max-width: 767px)
		h1, h2, h3, h4
			line-height: 32px
			font-size: 26px

.title-2
	h1, h2, h3, h4
		line-height: 46px
		font-family: $t-2
		font-weight: normal
		font-size: 39px
		margin-bottom: 0
	@media screen and (max-width: 1024px)
		h1, h2, h3, h4
			font-size: 34px
			line-height: 40px
	@media screen and (max-width: 640px)
		h1, h2, h3, h4
			font-size: 28px
			line-height: 34px
	@media screen and (max-width: 480px)
		h1, h2, h3, h4
			font-size: 24px
			line-height: 30px

.title-3
	h1, h2, h3, h4
		line-height: 48px
		font-family: $t-2
		font-weight: normal
		font-size: 40px
		margin-bottom: 0
	@media screen and (max-width: 1024px)
		h1, h2, h3, h4
			line-height: 40px
			font-size: 32px
	@media screen and (max-width: 767px)
		h1, h2, h3, h4
			line-height: 36px
			font-size: 26px

.title-4
	h1, h2, h3, h4
		line-height: 44px
		font-family: $t-0
		font-weight: normal
		font-size: 38px
		margin-bottom: 0

.title-5
	h1, h2, h3, h4
		line-height: 48px
		font-family: $t-3
		font-weight: normal
		font-size: 30px
		margin-bottom: 0

.title-6
	h1, h2, h3, h4
		line-height: 48px
		font-family: $t-2
		font-weight: normal
		font-size: 35px
		margin-bottom: 0

.title-7
	h1, h2, h3, h4
		line-height: 37px
		font-family: $t-2
		font-weight: normal
		font-size: 27px
		margin-bottom: 0

.title-8
	h1, h2, h3, h4
		line-height: 32px
		font-family: $t-3
		font-weight: normal
		font-size: 26px
		margin-bottom: 0

// +++ titulos con iconos +++
.title-icons-1
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	h1, h2, h3, h4
		width: calc(100% - 18px)
		box-sizing: border-box
		padding-top: 14px
		padding-left: 15px

.title-icons-2
	.title-icon
		margin-bottom: 5px

.title-icon
	display: inline-block
	width: 18px
	height: 46px
	position: relative
	margin: 0
	&:before
		content: ""
		display: block
		width: 0
		height: 0
		border-style: solid
		border-width: 10px 0 10px 18px
		border-color: transparent transparent transparent $c-1
		position: absolute
		top: 0
		left: 0
	&:after
		content: ""
		display: block
		width: 100%
		height: 20.4px
		background: $c-6
		transform: skewY(-28deg)
		position: absolute
		bottom: 5px
		left: 0
	&.yellow-gray
		&:before
			border-color: transparent transparent transparent $c-1
		&:after
			background: $c-6
	&.white-gray
		&:before
			border-color: transparent transparent transparent $blanco
		&:after
			background: $c-6
	&.yellow-white
		&:before
			border-color: transparent transparent transparent $c-1
		&:after
			background: $blanco
// <<< end >>>